Repository scanamo/scanamo: changes, and which Codecov flags are due for each by the changed paths.
All: alpakka, cats, formats, java-time, joda, refined, scalaz, scalaz-zio, scanamo

.codecov.yml:

comment: off
coverage:
  status:
    project:
      default: off
    scanamo:
        flags: scanamo
        target: auto
        threshold: 100
        base: auto
    formats:
        flags: formats
        target: auto
        threshold: 100
        base: auto
    joda:
        flags: joda
        target: auto
        threshold: 100
        base: auto
    java-time:
        flags: java-time
        target: auto
        threshold: 100
        base: auto
    alpakka:
        flags: alpakka
        target: auto
        threshold: 100
        base: auto
    cats:
        flags: cats
        target: auto
        threshold: 100
        base: auto
    scalaz:
        flags: scalaz
        target: auto
        threshold: 100
        base: auto
    scalaz-zio:
        flags: scalaz-zio
        target: auto
        threshold: 100
        base: auto
    refined:
        flags: refined
        target: auto
        threshold: 100
        base: auto
    patch:
      default: off
      scanamo:
        flags: scanamo
        threshold: 100
        base: auto
      formats:
        flags: formats
        threshold: 100
        base: auto
      joda:
        flags: joda
        threshold: 100
        base: auto
      java-time:
        flags: java-time
        threshold: 100
        base: auto
      alpakka:
        flags: alpakka
        threshold: 100
        base: auto
      cats:
        flags: cats
        threshold: 100
        base: auto
      scalaz:
        flags: scalaz
        threshold: 100
        base: auto
      scalaz-zio:
        flags: scalaz-zio
        threshold: 100
        base: auto
      refined:
        flags: refined
        threshold: 100
        base: auto
flags:
  alpakka:
    paths:
      - alpakka/
  cats:
    paths:
      - cats/
  formats:
    paths:
      - formats/
  java-time:
    paths:
      - java-time/
  joda:
    paths:
      - joda/
  refined:
    paths:
      - refined/
  scalaz:
    paths:
      - scalaz/
  scalaz-zio:
    paths:
      - scalaz-zio/
  scanamo:
    paths:
      - scanamo/

Use xmap directly
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
Due: scanamo

Make AutoDerivationUnlocker sealed and abstract
  scanamo/src/main/scala/org/scanamo/generic/AutoDerivation.scala
Due: scanamo

Run scalafmt
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
  scanamo/src/main/scala/org/scanamo/generic/AutoDerivation.scala
Due: scanamo

Try to fix AutoDerivationTest on Scala 2.11
  scanamo/src/test/scala/org/scanamo/generic/AutoDerivationTest.scala
Due: scanamo

Move case class after the companion object to avoid 2.11 bug
  scanamo/src/test/scala/org/scanamo/generic/AutoDerivationTest.scala
Due: scanamo

Move classes out of companion to avoid 2.11 issues
  scanamo/src/test/scala/org/scanamo/generic/AutoDerivationTest.scala
Due: scanamo

Update aws-java-sdk-dynamodb to 1.11.735
  build.sbt
Due: none

Move Foobar into separate file for Scala 2.11
  scanamo/src/test/scala/org/scanamo/generic/AutoDerivationTest.scala
  scanamo/src/test/scala/org/scanamo/generic/Foobar.scala
Due: scanamo

Move Foobar classes into two files
  scanamo/src/test/scala/org/scanamo/generic/AutoDerivationTest.scala
  scanamo/src/test/scala/org/scanamo/generic/Foobar.scala
  scanamo/src/test/scala/org/scanamo/generic/FoobarAutoDerivation.scala
  scanamo/src/test/scala/org/scanamo/generic/FoobarSemiAutoDerivation.scala
  scanamo/src/test/scala/org/scanamo/generic/SemiAutoDerivationTest.scala
Due: scanamo

Update magnolia to 0.12.8
  build.sbt
Due: none

Update zio, zio-streams to 1.0.0-RC18
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.736
  build.sbt
Due: none

Update zio, zio-streams to 1.0.0-RC18-1
  build.sbt
Due: none

Drop support for 2.11
  .travis.yml
  CONTRIBUTING.md
  README.md
  build.sbt
  docs/docs/index.md
Due: none

fmt
  build.sbt
Due: none

upgrate version
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.737
  build.sbt
Due: none

upgrade interop-cats
  build.sbt
Due: none

Update zio-interop-cats to 2.0.0.0-RC11
  build.sbt
Due: none

Update sbt-scalafmt to 2.3.2
  project/plugins.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.738
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.739
  build.sbt
Due: none

Update fs2-core to 2.2.2
  build.sbt
Due: none

Update refined to 0.9.13
  build.sbt
Due: none

Update cats-core, cats-free to 2.1.1
  build.sbt
Due: none

Update cats-effect to 2.1.2
  build.sbt
Due: none

Update cats (and metals)
  build.sbt
  project/metals.sbt
  scanamo/src/main/scala/org/scanamo/generic/Derivation.scala
Due: scanamo

fmt
  scanamo/src/test/scala/org/scanamo/generic/AutoDerivationTest.scala
  scanamo/src/test/scala/org/scanamo/generic/FoobarAutoDerivation.scala
  scanamo/src/test/scala/org/scanamo/generic/FoobarSemiAutoDerivation.scala
Due: scanamo

Update aws-java-sdk-dynamodb to 1.11.740
  build.sbt
Due: none

Update sbt-microsites to 1.1.3
  project/plugins.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.741
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.742
  build.sbt
Due: none

Update zio, zio-streams to 1.0.0-RC18-2
  build.sbt
Due: none

Update zio-interop-cats to 2.0.0.0-RC12
  build.sbt
Due: none

Add retry for AmazonDynamoDBException InternalFailure
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
Due: alpakka

Update aws-java-sdk-dynamodb to 1.11.743
  build.sbt
Due: none

initial pass - add deleteAll & updateAll transactional methods
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
  cats/src/main/scala/org/scanamo/ops/CatsInterpreter.scala
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoAsyncInterpreter.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoOpsA.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoSyncInterpreter.scala
  scanamo/src/main/scala/org/scanamo/ops/package.scala
  scanamo/src/main/scala/org/scanamo/request/ScanamoRequest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoAsyncTest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoFreeTest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
  testkit/src/main/scala/org/scanamo/LocalDynamoDB.scala
  zio/src/main/scala/org/scanamo/ops/ZioInterpreter.scala
  zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
Due: alpakka, cats, scanamo

revert port change & superflous brackets
  scanamo/src/main/scala/org/scanamo/ops/package.scala
  testkit/src/main/scala/org/scanamo/LocalDynamoDB.scala
Due: scanamo

rename field for consistency
  scanamo/src/main/scala/org/scanamo/ops/package.scala
  scanamo/src/main/scala/org/scanamo/request/ScanamoRequest.scala
Due: scanamo
