Repository scanamo/scanamo: changes, and which Codecov flags are due for each by the changed paths.
All: alpakka, cats, formats, java-time, joda, refined, scalaz, scalaz-zio, scanamo

.codecov.yml:

comment: off
coverage:
  status:
    project:
      default: off
    scanamo:
        flags: scanamo
        target: auto
        threshold: 100
        base: auto
    formats:
        flags: formats
        target: auto
        threshold: 100
        base: auto
    joda:
        flags: joda
        target: auto
        threshold: 100
        base: auto
    java-time:
        flags: java-time
        target: auto
        threshold: 100
        base: auto
    alpakka:
        flags: alpakka
        target: auto
        threshold: 100
        base: auto
    cats:
        flags: cats
        target: auto
        threshold: 100
        base: auto
    scalaz:
        flags: scalaz
        target: auto
        threshold: 100
        base: auto
    scalaz-zio:
        flags: scalaz-zio
        target: auto
        threshold: 100
        base: auto
    refined:
        flags: refined
        target: auto
        threshold: 100
        base: auto
    patch:
      default: off
      scanamo:
        flags: scanamo
        threshold: 100
        base: auto
      formats:
        flags: formats
        threshold: 100
        base: auto
      joda:
        flags: joda
        threshold: 100
        base: auto
      java-time:
        flags: java-time
        threshold: 100
        base: auto
      alpakka:
        flags: alpakka
        threshold: 100
        base: auto
      cats:
        flags: cats
        threshold: 100
        base: auto
      scalaz:
        flags: scalaz
        threshold: 100
        base: auto
      scalaz-zio:
        flags: scalaz-zio
        threshold: 100
        base: auto
      refined:
        flags: refined
        threshold: 100
        base: auto
flags:
  alpakka:
    paths:
      - alpakka/
  cats:
    paths:
      - cats/
  formats:
    paths:
      - formats/
  java-time:
    paths:
      - java-time/
  joda:
    paths:
      - joda/
  refined:
    paths:
      - refined/
  scalaz:
    paths:
      - scalaz/
  scalaz-zio:
    paths:
      - scalaz-zio/
  scanamo:
    paths:
      - scanamo/

More 2.11
  build.sbt
  formats/src/main/scala/org/scanamo/internal/package.scala
  scanamo/src/main/scala/org/scanamo/DynamoResultStream.scala
Due: formats, scanamo

Formatting
  formats/src/main/scala/org/scanamo/DynamoArray.scala
  formats/src/main/scala/org/scanamo/DynamoObject.scala
  formats/src/main/scala/org/scanamo/internal/package.scala
Due: formats

Fix 2.11 null encoding
  formats/src/main/scala/org/scanamo/DynamoValue.scala
  formats/src/test/scala/org/scanamo/DynamoFormatTest.scala
Due: formats

fnt
  formats/src/main/scala/org/scanamo/DynamoValue.scala
Due: formats

added retry mechanism for AlpakkaScanamo interpretor
  alpakka/src/main/scala/org/scanamo/RetrySettings.scala
  alpakka/src/main/scala/org/scanamo/RetryUtility.scala
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
Due: alpakka

corrected the retry utility
  alpakka/src/main/scala/org/scanamo/RetryUtility.scala
Due: alpakka

added default retry implicit settings for test
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
Due: alpakka

removed reduntant curly bracket in RetryUtility
  alpakka/src/main/scala/org/scanamo/RetryUtility.scala
Due: alpakka

formattted ScanamoAlpakkaSpec
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
Due: alpakka

refactored
  alpakka/src/main/scala/org/scanamo/RetryUtility.scala
Due: alpakka

removed return type for private method
  alpakka/src/main/scala/org/scanamo/RetryUtility.scala
Due: alpakka

added explicit return type for unit
  alpakka/src/main/scala/org/scanamo/RetryUtility.scala
Due: alpakka

formatted as per scalafmt conf file at project root
  alpakka/src/main/scala/org/scanamo/RetrySettings.scala
  alpakka/src/main/scala/org/scanamo/RetryUtility.scala
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
Due: alpakka

Fix doc
  docs/src/main/tut/operations.md
  scanamo/src/main/scala/org/scanamo/update/UpdateExpression.scala
Due: scanamo

added different retry policy mechanism
  alpakka/src/main/scala/org/scanamo/RetrySettings.scala
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/DefaultRetryPolicy.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryUtility.scala
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
Due: alpakka

corected the name
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryUtility.scala
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
Due: alpakka

indentation
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/DefaultRetryPolicy.scala
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
Due: alpakka

formated the codebase
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
Due: alpakka

corrected the retry mechanism name
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/DefaultRetryPolicy.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryUtility.scala
Due: alpakka

formatted Alpakka Interpretor
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
Due: alpakka

corrected the codebase according to scalafmt
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryUtility.scala
Due: alpakka

corrected the spec according to scalafmt
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
Due: alpakka

added different retry policies
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/DefaultRetryPolicy.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryUtility.scala
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
Due: alpakka

added more policy combinator for retry policy
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
Due: alpakka

reformatted code base
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryUtility.scala
Due: alpakka

made placeholders more readable
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
Due: alpakka

improved placeholders and naming convention in general
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
Due: alpakka

added line segregations
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryUtility.scala
Due: alpakka

removed dependency on scheduler for policies where it is not requried
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/DefaultRetryPolicy.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryUtility.scala
Due: alpakka

removed compilation error on scala 2.11
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryUtility.scala
Due: alpakka

Update akka-stream-alpakka-dynamodb to 1.0.1
  build.sbt
Due: none

fixed number of retries
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
Due: alpakka

WIP
  scanamo/src/main/scala/org/scanamo/ops/ScanamoOpsA.scala
  scanamo/src/main/scala/org/scanamo/package.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
  scanamo/src/test/scala/org/scanamo/ScanamoFreeTest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
Due: scanamo

formatted the codebase
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
Due: alpakka

Upgrade to alpakka 1.0.1
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  build.sbt
Due: alpakka

Update tests
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
Due: alpakka

Formatting
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
Due: alpakka

Refactor retry
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryUtility.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/WithRetry.scala
Due: alpakka

Drop scheduler
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
Due: alpakka

Refactor Scanamo clients as classes
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
  cats/src/main/scala/org/scanamo/ScanamoCats.scala
  cats/src/main/scala/org/scanamo/ops/CatsInterpreter.scala
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
  scalaz-zio/src/main/scala/org/scanamo/ScanamoZio.scala
  scalaz-zio/src/main/scala/org/scanamo/ops/ZioInterpreter.scala
  scalaz-zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
  scalaz/src/main/scala/org/scanamo/ScanamoScalaz.scala
  scalaz/src/main/scala/org/scanamo/ops/ScalazInterpreter.scala
  scalaz/src/test/scala/org/scanamo/ScanamoScalazSpec.scala
  scanamo/src/main/scala/org/scanamo/ScanamoAsync.scala
  scanamo/src/main/scala/org/scanamo/ScanamoSync.scala
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoAsyncInterpreter.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoInterpreters.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoSyncInterpreter.scala
  scanamo/src/main/scala/org/scanamo/ops/package.scala
  scanamo/src/test/scala/org/scanamo/ScanamoAsyncTest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
Due: alpakka, cats, scalaz, scalaz-zio, scanamo
