Repository scanamo/scanamo: changes, and which Codecov flags are due for each by the changed paths.
All: alpakka, cats, formats, java-time, joda, refined, scalaz, scalaz-zio, scanamo

.codecov.yml:

comment: off
coverage:
  status:
    project:
      default: off
    scanamo:
        flags: scanamo
        target: auto
        threshold: 100
        base: auto
    formats:
        flags: formats
        target: auto
        threshold: 100
        base: auto
    joda:
        flags: joda
        target: auto
        threshold: 100
        base: auto
    java-time:
        flags: java-time
        target: auto
        threshold: 100
        base: auto
    alpakka:
        flags: alpakka
        target: auto
        threshold: 100
        base: auto
    cats:
        flags: cats
        target: auto
        threshold: 100
        base: auto
    scalaz:
        flags: scalaz
        target: auto
        threshold: 100
        base: auto
    scalaz-zio:
        flags: scalaz-zio
        target: auto
        threshold: 100
        base: auto
    refined:
        flags: refined
        target: auto
        threshold: 100
        base: auto
    patch:
      default: off
      scanamo:
        flags: scanamo
        threshold: 100
        base: auto
      formats:
        flags: formats
        threshold: 100
        base: auto
      joda:
        flags: joda
        threshold: 100
        base: auto
      java-time:
        flags: java-time
        threshold: 100
        base: auto
      alpakka:
        flags: alpakka
        threshold: 100
        base: auto
      cats:
        flags: cats
        threshold: 100
        base: auto
      scalaz:
        flags: scalaz
        threshold: 100
        base: auto
      scalaz-zio:
        flags: scalaz-zio
        threshold: 100
        base: auto
      refined:
        flags: refined
        threshold: 100
        base: auto
flags:
  alpakka:
    paths:
      - alpakka/
  cats:
    paths:
      - cats/
  formats:
    paths:
      - formats/
  java-time:
    paths:
      - java-time/
  joda:
    paths:
      - joda/
  refined:
    paths:
      - refined/
  scalaz:
    paths:
      - scalaz/
  scalaz-zio:
    paths:
      - scalaz-zio/
  scanamo:
    paths:
      - scanamo/

Update scalaz-zio, ... to 0.6.2
  build.sbt
Due: none

Update scalaz-zio, ... to 0.6.3
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.498
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.499
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.500
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.501
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.502
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.503
  build.sbt
Due: none

Ignore updates for the dynamo db sdk
  .scala-steward.conf
Due: none

Update aws-java-sdk-dynamodb to 1.11.504
  build.sbt
Due: none

Add ZoneDateTime generator
  java-time/src/main/scala/org/scanamo/time/JavaTimeFormats.scala
  java-time/src/test/scala/org/scanamo/time/TimeGenerators.scala
Due: java-time

Formatting
  java-time/src/test/scala/org/scanamo/time/TimeGenerators.scala
Due: java-time

Update scalatest to 3.0.6
  build.sbt
Due: none

Update scalacheck to 1.14.0
  build.sbt
Due: none

When getting data from Dynamo return MissingKeyValue object if the queried field is not a key or does not exist.
  formats/src/main/scala/org/scanamo/error/DynamoReadError.scala
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoInterpreters.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoOpsA.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
Due: formats, scanamo

Updating Alpakka to support MissingKeyValue handling of exception.
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
Due: alpakka

Updating scala-zio to support MissingKeyValue handling of exception.
  scalaz-zio/src/main/scala/org/scanamo/ops/ZioInterpreter.scala
  scalaz-zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
Due: scalaz-zio

Updating scalaz to support MissingKeyValue handling of exception.
  scalaz/src/main/scala/org/scanamo/ops/ScalazInterpreter.scala
  scalaz/src/test/scala/org/scanamo/ScanamoScalazSpec.scala
Due: scalaz

Updating Cats to support MissingKeyValue handling of exception.
  cats/src/main/scala/org/scanamo/ops/CatsInterpreter.scala
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
Due: cats

Write empty strings as null
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
Due: formats

Fix test
  scanamo/src/test/scala/org/scanamo/update/UpdateExpressionTest.scala
Due: scanamo

Memoize format
  scanamo/src/test/scala/org/scanamo/update/UpdateExpressionTest.scala
Due: scanamo

Set default as the empty string
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
Due: formats

fmt
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
Due: formats

Update scalatest to 3.0.7
  build.sbt
Due: none

Upgrade scalacheck
  build.sbt
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
Due: formats

Update scalaz-zio, ... to 0.18
  build.sbt
Due: none

Update put to handle exceptions from Dynamo.
  cats/src/main/scala/org/scanamo/ops/CatsInterpreter.scala
  formats/src/main/scala/org/scanamo/error/DynamoReadError.scala
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoInterpreters.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoOpsA.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
Due: cats, formats, scanamo

Upgrade to scalaz-zio 1.0-RC3
  build.sbt
  scalaz-zio/src/main/scala/org/scanamo/ops/ZioInterpreter.scala
Due: scalaz-zio

Update akka-stream-alpakka-dynamodb to 1.0.0
  build.sbt
Due: none

Update put and get to catch AmazonDBExceptions and turn them into Eithers.
  cats/src/main/scala/org/scanamo/ops/CatsInterpreter.scala
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoInterpreters.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoOpsA.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
Due: cats, scanamo

Update kind-projector to 0.9.10
  build.sbt
Due: none

Fix tests
  scalaz-zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
Due: scalaz-zio

Formatting
  scalaz-zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
Due: scalaz-zio

Remove unused parameter
  scanamo/src/main/scala/org/scanamo/ops/ScanamoInterpreters.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
Due: scanamo

Cleanup
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
Due: scanamo

Update simulacrum to 0.16.0
  build.sbt
Due: none

Add startDynamodbLocal sbt task information to CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Optimise list construction
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
Due: scanamo

Style
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
Due: scanamo
