Repository scanamo/scanamo: changes, and which Codecov flags are due for each by the changed paths.
All: alpakka, cats, formats, java-time, joda, refined, scalaz, scalaz-zio, scanamo

testkit - compilation fixed
  testkit/src/main/scala/com/gu/scanamo/LocalDynamoDB.scala
Due: none

testkit - compilation fixed for formats artifact + tests
  build.sbt
  formats/src/main/scala/com/gu/scanamo/DerivedDynamoFormat.scala
  formats/src/main/scala/com/gu/scanamo/DynamoFormat.scala
  formats/src/main/scala/com/gu/scanamo/EnumerationDynamoFormat.scala
  formats/src/main/scala/com/gu/scanamo/error/DynamoReadError.scala
  formats/src/test/scala/com/gu/scanamo/DynamoFormatTest.scala
  formats/src/test/scala/com/gu/scanamo/EnumDynamoFormatTest.scala
  refined/src/main/scala/com/gu/scanamo/refined/package.scala
  testkit/src/main/scala/com/gu/scanamo/LocalDynamoDB.scala
Due: formats, refined

testkit - compilation fixed for refined
  refined/src/test/scala/com/gu/scanamo/refined/RefinedDynamoFormatSpec.scala
Due: refined

testkit - wip scanamo core refactoring
  scanamo/src/main/scala/com/gu/scanamo/DynamoResultStream.scala
  scanamo/src/main/scala/com/gu/scanamo/Scanamo.scala
  scanamo/src/main/scala/com/gu/scanamo/ScanamoAsync.scala
  scanamo/src/main/scala/com/gu/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/com/gu/scanamo/Table.scala
  scanamo/src/main/scala/com/gu/scanamo/ops/ScanamoInterpreters.scala
  scanamo/src/main/scala/com/gu/scanamo/ops/ScanamoOpsA.scala
  scanamo/src/main/scala/com/gu/scanamo/package.scala
  scanamo/src/main/scala/com/gu/scanamo/query/ConditionExpression.scala
  scanamo/src/main/scala/com/gu/scanamo/query/QueryableKeyCondition.scala
  scanamo/src/main/scala/com/gu/scanamo/query/UniqueKeyCondition.scala
  scanamo/src/main/scala/com/gu/scanamo/request/ScanamoRequest.scala
  scanamo/src/main/scala/com/gu/scanamo/update/UpdateExpression.scala
  scanamo/src/test/scala/com/gu/scanamo/update/UpdateExpressionTest.scala
Due: scanamo

compilation fixed
  .DS_Store
  scanamo/src/main/scala/com/gu/scanamo/Scanamo.scala
  scanamo/src/main/scala/com/gu/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/com/gu/scanamo/SecondaryIndex.scala
  scanamo/src/main/scala/com/gu/scanamo/Table.scala
  scanamo/src/main/scala/com/gu/scanamo/ops/ScanamoInterpreters.scala
  scanamo/src/main/scala/com/gu/scanamo/query/QueryableKeyCondition.scala
  scanamo/src/main/scala/com/gu/scanamo/request/ScanamoRequest.scala
  scanamo/src/main/scala/com/gu/scanamo/update/UpdateExpression.scala
  scanamo/src/test/scala/com/gu/scanamo/ScanamoAsyncTest.scala
  scanamo/src/test/scala/com/gu/scanamo/ScanamoFreeTest.scala
  scanamo/src/test/scala/com/gu/scanamo/ScanamoTest.scala
  testkit/src/main/scala/com/gu/scanamo/LocalDynamoDB.scala
Due: scanamo

testkit - wip
  build.sbt
  scanamo/src/main/scala/com/gu/scanamo/ops/ScanamoInterpreters.scala
  scanamo/src/main/scala/com/gu/scanamo/request/ScanamoRequest.scala
  scanamo/src/test/scala/com/gu/scanamo/ScanamoAsyncTest.scala
Due: scanamo

Update README.md
  README.md
Due: none

Update cats-core, cats-free to 1.6.0
  build.sbt
Due: none

testkit - wip
  docker-compose.yml
  scanamo/src/test/scala/com/gu/scanamo/ScanamoTest.scala
Due: scanamo

testkit - fixed test for delete a single item
  scanamo/src/main/scala/com/gu/scanamo/request/ScanamoRequest.scala
  scanamo/src/test/scala/com/gu/scanamo/ScanamoAsyncTest.scala
Due: scanamo

Update aws-java-sdk-dynamodb to 1.11.490
  build.sbt
Due: none

testkit - wip tests
  scanamo/src/main/scala/com/gu/scanamo/ScanamoAsync.scala
  scanamo/src/main/scala/com/gu/scanamo/Table.scala
  scanamo/src/main/scala/com/gu/scanamo/ops/ScanamoInterpreters.scala
  scanamo/src/main/scala/com/gu/scanamo/update/UpdateExpression.scala
  scanamo/src/test/scala/com/gu/scanamo/ScanamoAsyncTest.scala
Due: scanamo

testkit - scanamo tests updated + compilation fixed
  scanamo/src/main/scala/com/gu/scanamo/Scanamo.scala
  scanamo/src/main/scala/com/gu/scanamo/ScanamoFree.scala
Due: scanamo

wip
  build.sbt
  cats/src/main/scala/com/gu/scanamo/ops/CatsInterpreter.scala
  scalaz-zio/src/main/scala/com/gu/scanamo/ScanamoZio.scala
  scalaz-zio/src/main/scala/com/gu/scanamo/ops/ZioInterpreter.scala
Due: cats, scalaz-zio

fixed docker-compose file
  docker-compose.yml
Due: none

zio interop upgraded
  .DS_Store
  scalaz-zio/src/main/scala/com/gu/scanamo/ScanamoZio.scala
  scalaz-zio/src/main/scala/com/gu/scanamo/ops/ZioInterpreter.scala
  scalaz-zio/src/test/scala/com/gu/scanamo/ScanamoZioSpec.scala
  scalaz/src/main/scala/com/gu/scanamo/ScanamoScalaz.scala
Due: scalaz, scalaz-zio

wip with cats
  cats/src/main/scala/com/gu/scanamo/ScanamoCats.scala
  cats/src/main/scala/com/gu/scanamo/ops/CatsInterpreter.scala
  cats/src/test/scala/com/gu/scanamo/ScanamoCatsSpec.scala
Due: cats

wip with cats
  alpakka/src/main/scala/com/gu/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/test/scala/com/gu/scanamo/ScanamoAlpakkaSpec.scala
  build.sbt
Due: alpakka

scalaz effect migrated + tests
  scalaz/src/main/scala/com/gu/scanamo/ScanamoScalaz.scala
  scalaz/src/main/scala/com/gu/scanamo/ops/ScalazInterpreter.scala
  scalaz/src/test/scala/com/gu/scanamo/ScanamoScalazSpec.scala
Due: scalaz

zio refactored
  scalaz-zio/src/main/scala/com/gu/scanamo/ops/ZioInterpreter.scala
Due: scalaz-zio

wip alpakka folders
  alpakka/src/main/scala/com/gu/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/main/scala/com/gu/scanamo/ops/aws.scala
Due: alpakka

wip porting aws api
  alpakka/src/main/scala/com/gu/scanamo/ops/aws.scala
Due: alpakka

Update aws-java-sdk-dynamodb to 1.11.491
  build.sbt
Due: none

migrated testkit to v2
  alpakka/src/test/scala/com/gu/scanamo/ScanamoAlpakkaSpec.scala
  build.sbt
  cats/src/test/scala/com/gu/scanamo/ScanamoCatsSpec.scala
  formats/src/test/scala/com/gu/scanamo/DynamoFormatTest.scala
  scalaz-zio/src/test/scala/com/gu/scanamo/ScanamoZioSpec.scala
  scalaz/src/test/scala/com/gu/scanamo/ScanamoScalazSpec.scala
  scanamo/src/main/scala/com/gu/scanamo/Scanamo.scala
  scanamo/src/main/scala/com/gu/scanamo/SecondaryIndex.scala
  scanamo/src/main/scala/com/gu/scanamo/Table.scala
  scanamo/src/test/scala/com/gu/scanamo/ScanamoAsyncTest.scala
  scanamo/src/test/scala/com/gu/scanamo/ScanamoTest.scala
  testkit/src/main/scala/com/gu/scanamo/LocalDBBase.scala
  testkit/src/main/scala/com/gu/scanamo/LocalDynamoDB.scala
  testkit/src/main/scala/com/gu/scanamo/impl/LocalDynamoDB.scala
Due: alpakka, cats, formats, scalaz, scalaz-zio, scanamo

wip formats
  formats/src/main/scala/com/gu/scanamo/Derivation/SemiAutoDerivation.scala
  formats/src/main/scala/com/gu/scanamo/DerivedDynamoFormat.scala
  formats/src/main/scala/com/gu/scanamo/DynamoFormat.scala
  formats/src/main/scala/com/gu/scanamo/EnumerationDynamoFormat.scala
  formats/src/main/scala/com/gu/scanamo/aws/models.scala
  formats/src/main/scala/com/gu/scanamo/error/DynamoReadError.scala
Due: formats

wip porting
  formats/src/main/scala/com/gu/scanamo/DynamoFormat.scala
  formats/src/main/scala/com/gu/scanamo/EnumerationDynamoFormat.scala
  formats/src/main/scala/com/gu/scanamo/aws/models.scala
  scanamo/src/main/scala/com/gu/scanamo/update/UpdateExpression.scala
Due: formats, scanamo

noticket- wip
  formats/src/main/scala/com/gu/scanamo/DynamoFormat.scala
  formats/src/main/scala/com/gu/scanamo/EnumerationDynamoFormat.scala
  formats/src/test/scala/com/gu/scanamo/DynamoFormatTest.scala
Due: formats

Update aws-java-sdk-dynamodb to 1.11.492
  build.sbt
Due: none

fixes
  formats/src/main/scala/com/gu/scanamo/DerivedDynamoFormat.scala
  formats/src/main/scala/com/gu/scanamo/DynamoFormat.scala
  formats/src/main/scala/com/gu/scanamo/impl/v1.scala
Due: formats

noticket- wip
  formats/src/main/scala/com/gu/scanamo/Derivation/SemiAutoDerivation.scala
  formats/src/main/scala/com/gu/scanamo/DynamoFormat.scala
  formats/src/main/scala/com/gu/scanamo/EnumerationDynamoFormat.scala
  formats/src/main/scala/com/gu/scanamo/aws/models.scala
  formats/src/test/scala/com/gu/scanamo/Derivation/SemiAutoDerivationTest.scala
  formats/src/test/scala/com/gu/scanamo/DynamoFormatTest.scala
  formats/src/test/scala/com/gu/scanamo/EnumDynamoFormatTest.scala
Due: formats

noticket- another attempt
  formats/src/main/scala/com/gu/scanamo/Derivation/SemiAutoDerivation.scala
  formats/src/main/scala/com/gu/scanamo/DerivedDynamoFormat.scala
  formats/src/main/scala/com/gu/scanamo/DynamoFormat.scala
  formats/src/main/scala/com/gu/scanamo/EnumerationDynamoFormat.scala
  formats/src/test/scala/com/gu/scanamo/Derivation/SemiAutoDerivationTest.scala
  formats/src/test/scala/com/gu/scanamo/DynamoFormatTest.scala
  formats/src/test/scala/com/gu/scanamo/EnumDynamoFormatTest.scala
Due: formats

noticket- another attempt (bad)
  formats/src/main/scala/com/gu/scanamo/DynamoFormat.scala
  formats/src/main/scala/com/gu/scanamo/EnumerationDynamoFormat.scala
  formats/src/test/scala/com/gu/scanamo/DynamoFormatTest.scala
  formats/src/test/scala/com/gu/scanamo/EnumDynamoFormatTest.scala
Due: formats

noticket- yet another abstraction
  formats/src/main/scala/com/gu/scanamo/Derivation/SemiAutoDerivation.scala
  formats/src/main/scala/com/gu/scanamo/DerivedDynamoFormat.scala
  formats/src/main/scala/com/gu/scanamo/DynamoFormat.scala
  formats/src/main/scala/com/gu/scanamo/EnumerationDynamoFormat.scala
  formats/src/main/scala/com/gu/scanamo/auto.scala
  formats/src/test/scala/com/gu/scanamo/DynamoFormatTest.scala
  formats/src/test/scala/com/gu/scanamo/EnumDynamoFormatTest.scala
Due: formats

Update aws-java-sdk-dynamodb to 1.11.493
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.494
  build.sbt
Due: none

Update scalaz-zio to 0.6.1
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.495
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.496
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.497
  build.sbt
Due: none

Path conditions:
  alpakka: any of: alpakka/
  cats: any of: cats/
  formats: any of: formats/
  java-time: any of: java-time/
  joda: any of: joda/
  refined: any of: refined/
  scalaz: any of: scalaz/
  scalaz-zio: any of: scalaz-zio/
  scanamo: any of: scanamo/
