Repository scanamo/scanamo: changes, and which Codecov flags are due for each by the changed paths.
All: alpakka, cats, formats, java-time, joda, refined, scalaz, scalaz-zio, scanamo

.codecov.yml:

comment: off
coverage:
  status:
    project:
      default: off
    scanamo:
        flags: scanamo
        target: auto
        threshold: 100
        base: auto
    formats:
        flags: formats
        target: auto
        threshold: 100
        base: auto
    joda:
        flags: joda
        target: auto
        threshold: 100
        base: auto
    java-time:
        flags: java-time
        target: auto
        threshold: 100
        base: auto
    alpakka:
        flags: alpakka
        target: auto
        threshold: 100
        base: auto
    cats:
        flags: cats
        target: auto
        threshold: 100
        base: auto
    scalaz:
        flags: scalaz
        target: auto
        threshold: 100
        base: auto
    scalaz-zio:
        flags: scalaz-zio
        target: auto
        threshold: 100
        base: auto
    refined:
        flags: refined
        target: auto
        threshold: 100
        base: auto
    patch:
      default: off
      scanamo:
        flags: scanamo
        threshold: 100
        base: auto
      formats:
        flags: formats
        threshold: 100
        base: auto
      joda:
        flags: joda
        threshold: 100
        base: auto
      java-time:
        flags: java-time
        threshold: 100
        base: auto
      alpakka:
        flags: alpakka
        threshold: 100
        base: auto
      cats:
        flags: cats
        threshold: 100
        base: auto
      scalaz:
        flags: scalaz
        threshold: 100
        base: auto
      scalaz-zio:
        flags: scalaz-zio
        threshold: 100
        base: auto
      refined:
        flags: refined
        threshold: 100
        base: auto
flags:
  alpakka:
    paths:
      - alpakka/
  cats:
    paths:
      - cats/
  formats:
    paths:
      - formats/
  java-time:
    paths:
      - java-time/
  joda:
    paths:
      - joda/
  refined:
    paths:
      - refined/
  scalaz:
    paths:
      - scalaz/
  scalaz-zio:
    paths:
      - scalaz-zio/
  scanamo:
    paths:
      - scanamo/

Update docs
  docs/src/main/tut/asynchronous.md
  docs/src/main/tut/batch-operations.md
  docs/src/main/tut/conditional-operations.md
  docs/src/main/tut/dynamo-format.md
  docs/src/main/tut/filters.md
  docs/src/main/tut/index.md
  docs/src/main/tut/operations.md
  docs/src/main/tut/using-indexes.md
Due: none

Cleanup API
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
  cats/src/main/scala/org/scanamo/ScanamoCats.scala
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
  scalaz-zio/src/main/scala/org/scanamo/ScanamoZio.scala
  scalaz-zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
  scalaz/src/main/scala/org/scanamo/ScanamoScalaz.scala
  scalaz/src/test/scala/org/scanamo/ScanamoScalazSpec.scala
  scanamo/src/main/scala/org/scanamo/ScanamoAsync.scala
  scanamo/src/main/scala/org/scanamo/ScanamoSync.scala
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/test/scala/org/scanamo/ScanamoAsyncTest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
Due: alpakka, cats, scalaz, scalaz-zio, scanamo

fmt
  scalaz-zio/src/main/scala/org/scanamo/ops/ZioInterpreter.scala
Due: scalaz-zio

Use `retry`
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
Due: alpakka

Fmt again
  .scalafmt.conf
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
  cats/src/main/scala/org/scanamo/ops/CatsInterpreter.scala
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
  formats/src/main/scala/org/scanamo/error/DynamoReadError.scala
  scalaz-zio/src/main/scala/org/scanamo/ops/ZioInterpreter.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
  scanamo/src/test/scala/org/scanamo/ScanamoFreeTest.scala
Due: alpakka, cats, formats, scalaz-zio, scanamo

Revert "Fmt again"
  .scalafmt.conf
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
  cats/src/main/scala/org/scanamo/ops/CatsInterpreter.scala
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
  formats/src/main/scala/org/scanamo/error/DynamoReadError.scala
  scalaz-zio/src/main/scala/org/scanamo/ops/ZioInterpreter.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
  scanamo/src/test/scala/org/scanamo/ScanamoFreeTest.scala
Due: alpakka, cats, formats, scalaz-zio, scanamo

Revert "Use `retry`"
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
Due: alpakka

Revert "fmt"
  scalaz-zio/src/main/scala/org/scanamo/ops/ZioInterpreter.scala
Due: scalaz-zio

Use policy, retry only once using the akka api
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/WithRetry.scala
Due: alpakka

Upgrade scalafmt
  .scalafmt.conf
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
  build.sbt
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
  formats/src/test/scala/org/scanamo/Derivation/SemiAutoDerivationTest.scala
  formats/src/test/scala/org/scanamo/EnumDynamoFormatTest.scala
  project/plugins.sbt
  refined/src/test/scala/org/scanamo/refined/RefinedDynamoFormatSpec.scala
  scalaz-zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
  scalaz/src/test/scala/org/scanamo/ScanamoScalazSpec.scala
  scanamo/src/main/scala/org/scanamo/DynamoResultStream.scala
  scanamo/src/main/scala/org/scanamo/Scanamo.scala
  scanamo/src/main/scala/org/scanamo/ScanamoAsync.scala
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoInterpreters.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
  scanamo/src/main/scala/org/scanamo/request/ScanamoRequest.scala
  scanamo/src/main/scala/org/scanamo/update/UpdateExpression.scala
  scanamo/src/test/scala/org/scanamo/ScanamoAsyncTest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoFreeTest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
  scanamo/src/test/scala/org/scanamo/update/UpdateExpressionTest.scala
Due: alpakka, cats, formats, refined, scalaz, scalaz-zio, scanamo

Improvements
  .scalafmt.conf
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryUtility.scala
  cats/src/main/scala/org/scanamo/ScanamoCats.scala
  formats/src/main/scala/org/scanamo/Derivation/SemiAutoDerivation.scala
  formats/src/main/scala/org/scanamo/DerivedDynamoFormat.scala
  formats/src/main/scala/org/scanamo/EnumerationDynamoFormat.scala
  formats/src/main/scala/org/scanamo/error/DynamoReadError.scala
  java-time/src/main/scala/org/scanamo/time/JavaTimeFormats.scala
  refined/src/main/scala/org/scanamo/refined/package.scala
  scalaz-zio/src/main/scala/org/scanamo/ScanamoZio.scala
  scalaz/src/main/scala/org/scanamo/ScanamoScalaz.scala
  scalaz/src/main/scala/org/scanamo/ops/ScalazInterpreter.scala
  testkit/src/main/scala/org/scanamo/LocalDynamoDB.scala
Due: alpakka, cats, formats, java-time, refined, scalaz, scalaz-zio

Remove dev-specific gitignore
  .gitignore
Due: none

Enable experimental in 2.11 and a few compiler flags
  build.sbt
Due: none

Simplification
  formats/src/main/scala/org/scanamo/DynamoArray.scala
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
  formats/src/main/scala/org/scanamo/DynamoObject.scala
  formats/src/main/scala/org/scanamo/DynamoValue.scala
  formats/src/main/scala/org/scanamo/EnumerationDynamoFormat.scala
  formats/src/main/scala/org/scanamo/internal/package.scala
  formats/src/test/scala/org/scanamo/DynamoFormatTest.scala
  formats/src/test/scala/org/scanamo/DynamoValueTest.scala
  formats/src/test/scala/org/scanamo/EnumDynamoFormatTest.scala
  refined/src/test/scala/org/scanamo/refined/RefinedDynamoFormatSpec.scala
  scanamo/src/main/scala/org/scanamo/DynamoResultStream.scala
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoInterpreters.scala
  scanamo/src/main/scala/org/scanamo/update/UpdateExpression.scala
  scanamo/src/test/scala/org/scanamo/ScanamoAsyncTest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
  testkit/src/main/scala/org/scanamo/LocalDynamoDB.scala
Due: formats, refined, scanamo

Woops
  formats/src/main/scala/org/scanamo/DynamoArray.scala
Due: formats

notation
  formats/src/main/scala/org/scanamo/DerivedDynamoFormat.scala
Due: formats

Use applicative syntax where possible
  formats/src/main/scala/org/scanamo/DynamoArray.scala
  formats/src/main/scala/org/scanamo/DynamoObject.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoInterpreters.scala
  scanamo/src/main/scala/org/scanamo/query/UniqueKeyCondition.scala
Due: formats, scanamo

Varname
  formats/src/main/scala/org/scanamo/DynamoArray.scala
Due: formats

Feedback
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
  docs/src/main/tut/asynchronous.md
Due: alpakka

Fix tests
  formats/src/test/scala/org/scanamo/DynamoValueTest.scala
Due: formats

Remove warnings
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
  scalaz-zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
  scalaz/src/test/scala/org/scanamo/ScanamoScalazSpec.scala
  scanamo/src/test/scala/org/scanamo/update/UpdateExpressionTest.scala
Due: cats, scalaz, scalaz-zio, scanamo

Rename spec
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
Due: cats

fmt
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
Due: alpakka

Warnings
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/test/scala/org/scanamo/update/UpdateExpressionTest.scala
Due: scanamo

Reformatting
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/WithRetry.scala
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
  cats/src/main/scala/org/scanamo/ScanamoCats.scala
  cats/src/main/scala/org/scanamo/ops/CatsInterpreter.scala
  java-time/src/test/scala/org/scanamo/time/TimeGenerators.scala
  scalaz-zio/src/main/scala/org/scanamo/ScanamoZio.scala
  scalaz-zio/src/main/scala/org/scanamo/ops/ZioInterpreter.scala
  scalaz/src/main/scala/org/scanamo/ScanamoScalaz.scala
  scanamo/src/main/scala/org/scanamo/ScanamoAsync.scala
  scanamo/src/main/scala/org/scanamo/ScanamoSync.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoAsyncInterpreter.scala
Due: alpakka, cats, java-time, scalaz, scalaz-zio, scanamo

Update sbt-site to 1.3.3
  project/plugins.sbt
Due: none

Update simulacrum to 0.17.0
  build.sbt
Due: none

Update sbt-site to 1.4.0
  project/plugins.sbt
Due: none

Add some scaladoc
  formats/src/main/scala/org/scanamo/DynamoArray.scala
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
  formats/src/main/scala/org/scanamo/DynamoObject.scala
  formats/src/main/scala/org/scanamo/DynamoValue.scala
  formats/src/test/scala/org/scanamo/DynamoValueTest.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoAsyncInterpreter.scala
Due: formats, scanamo

Fix tests
  formats/src/main/scala/org/scanamo/DynamoArray.scala
  formats/src/main/scala/org/scanamo/DynamoValue.scala
  scanamo/src/main/scala/org/scanamo/DynamoResultStream.scala
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
  scanamo/src/main/scala/org/scanamo/ops/package.scala
  scanamo/src/main/scala/org/scanamo/update/UpdateExpression.scala
Due: formats, scanamo

Formatting
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
  formats/src/main/scala/org/scanamo/DerivedDynamoFormat.scala
  formats/src/main/scala/org/scanamo/DynamoArray.scala
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
  formats/src/main/scala/org/scanamo/DynamoObject.scala
  formats/src/main/scala/org/scanamo/DynamoValue.scala
  formats/src/main/scala/org/scanamo/EnumerationDynamoFormat.scala
  formats/src/test/scala/org/scanamo/DynamoValueTest.scala
  formats/src/test/scala/org/scanamo/EnumDynamoFormatTest.scala
  java-time/src/test/scala/org/scanamo/time/TimeGenerators.scala
  refined/src/main/scala/org/scanamo/refined/package.scala
  scalaz-zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
  scalaz/src/test/scala/org/scanamo/ScanamoScalazSpec.scala
  scanamo/src/main/scala/org/scanamo/DynamoResultStream.scala
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
  scanamo/src/main/scala/org/scanamo/query/QueryableKeyCondition.scala
  scanamo/src/main/scala/org/scanamo/query/UniqueKeyCondition.scala
  scanamo/src/main/scala/org/scanamo/request/ScanamoRequest.scala
  scanamo/src/main/scala/org/scanamo/update/UpdateExpression.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
Due: alpakka, cats, formats, java-time, refined, scalaz, scalaz-zio, scanamo

Fix 2.11
  formats/src/main/scala/org/scanamo/DynamoObject.scala
  scanamo/src/main/scala/org/scanamo/query/AttributeName.scala
Due: formats, scanamo

Remove link to java API
  formats/src/main/scala/org/scanamo/DynamoObject.scala
Due: formats

Update to sbt-ci-release 1.2.6
  project/plugins.sbt
Due: none

Update changelog
  CHANGES.md
Due: none

Bump ruby and jekyll versions
  .ruby-version
  .travis.yml
Due: none

Replace tut with mdoc+docusaurus
  build.sbt
  project/plugins.sbt
Due: none

Move text content at the root
  docs/CNAME
  docs/asynchronous.md
  docs/batch-operations.md
  docs/conditional-operations.md
  docs/dynamo-format.md
  docs/filters.md
  docs/index.md
  docs/operations.md
  docs/src/main/resources/microsite/css/scanamo.css
  docs/src/main/resources/microsite/data/menu.yml
  docs/using-indexes.md
Due: none
