Repository scanamo/scanamo: changes, and which Codecov flags are due for each by the changed paths.
All: alpakka, cats, formats, java-time, joda, refined, scalaz, scalaz-zio, scanamo

.codecov.yml:

comment: off
coverage:
  status:
    project:
      default: off
    scanamo:
        flags: scanamo
        target: auto
        threshold: 100
        base: auto
    formats:
        flags: formats
        target: auto
        threshold: 100
        base: auto
    joda:
        flags: joda
        target: auto
        threshold: 100
        base: auto
    java-time:
        flags: java-time
        target: auto
        threshold: 100
        base: auto
    alpakka:
        flags: alpakka
        target: auto
        threshold: 100
        base: auto
    cats:
        flags: cats
        target: auto
        threshold: 100
        base: auto
    scalaz:
        flags: scalaz
        target: auto
        threshold: 100
        base: auto
    scalaz-zio:
        flags: scalaz-zio
        target: auto
        threshold: 100
        base: auto
    refined:
        flags: refined
        target: auto
        threshold: 100
        base: auto
    patch:
      default: off
      scanamo:
        flags: scanamo
        threshold: 100
        base: auto
      formats:
        flags: formats
        threshold: 100
        base: auto
      joda:
        flags: joda
        threshold: 100
        base: auto
      java-time:
        flags: java-time
        threshold: 100
        base: auto
      alpakka:
        flags: alpakka
        threshold: 100
        base: auto
      cats:
        flags: cats
        threshold: 100
        base: auto
      scalaz:
        flags: scalaz
        threshold: 100
        base: auto
      scalaz-zio:
        flags: scalaz-zio
        threshold: 100
        base: auto
      refined:
        flags: refined
        threshold: 100
        base: auto
flags:
  alpakka:
    paths:
      - alpakka/
  cats:
    paths:
      - cats/
  formats:
    paths:
      - formats/
  java-time:
    paths:
      - java-time/
  joda:
    paths:
      - joda/
  refined:
    paths:
      - refined/
  scalaz:
    paths:
      - scalaz/
  scalaz-zio:
    paths:
      - scalaz-zio/
  scanamo:
    paths:
      - scanamo/

Remove `[get|getAll]WithConsistency`
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
Due: scanamo

BatchGet accepts max 100 items
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
Due: scanamo

Update scalaz-zio, ... to 0.19
  build.sbt
Due: none

Avoid extra list allocations
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
Due: scanamo

Update tut-plugin to 0.6.11
  project/plugins.sbt
Due: none

Fix links in doc pages
  docs/src/main/tut/conditional-operations.md
  docs/src/main/tut/dynamo-format.md
  docs/src/main/tut/filters.md
  docs/src/main/tut/operations.md
Due: none

#380 Add jekyll installation hint to Contributing.md
  CONTRIBUTING.md
Due: none

Update delete to catch AmazonDBExceptions and turn them into Eithers
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoInterpreters.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoOpsA.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
Due: scanamo

Update scalaz-zio, ... to 1.0-RC4
  build.sbt
Due: none

Update refined to 0.9.5
  build.sbt
Due: none

Add DynValue
  formats/src/main/scala/org/scanamo/DynamoValue.scala
Due: formats

Apply in DynamoFormat
  formats/src/main/scala/org/scanamo/DerivedDynamoFormat.scala
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
  formats/src/main/scala/org/scanamo/EnumerationDynamoFormat.scala
  formats/src/main/scala/org/scanamo/error/DynamoReadError.scala
  formats/src/test/scala/org/scanamo/DynamoFormatTest.scala
  formats/src/test/scala/org/scanamo/EnumDynamoFormatTest.scala
Due: formats

Update joda-convert to 2.2.1
  build.sbt
Due: none

Update cats-effect to 1.3.0
  build.sbt
Due: none

Change update to catch AmazonDBExceptions and turn them into Eithers
  cats/src/main/scala/org/scanamo/ops/CatsInterpreter.scala
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoInterpreters.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoOpsA.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
Due: cats, scanamo

Revert work on Cats interpreter.
  cats/src/main/scala/org/scanamo/ops/CatsInterpreter.scala
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
Due: cats

Rework arrays and objects
  formats/src/main/scala/org/scanamo/DynamoArray.scala
  formats/src/main/scala/org/scanamo/DynamoObject.scala
  formats/src/main/scala/org/scanamo/DynamoValue.scala
Due: formats

Improve DynamoObject API
  formats/src/main/scala/org/scanamo/DynamoObject.scala
Due: formats

Apply to format
  formats/src/main/scala/org/scanamo/DerivedDynamoFormat.scala
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
  formats/src/main/scala/org/scanamo/error/DynamoReadError.scala
Due: formats

Formatting
  .scalafmt.conf
  formats/src/main/scala/org/scanamo/DerivedDynamoFormat.scala
  formats/src/main/scala/org/scanamo/DynamoArray.scala
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
  formats/src/main/scala/org/scanamo/DynamoObject.scala
  formats/src/main/scala/org/scanamo/DynamoValue.scala
Due: formats

Fix tests
  formats/src/main/scala/org/scanamo/DynamoArray.scala
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
Due: formats

Add fail combinator
  scanamo/src/main/scala/org/scanamo/ops/ScanamoOpsA.scala
Due: scanamo

Remove implicit resolution
  scanamo/src/main/scala/org/scanamo/ops/ScanamoOpsA.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
Due: scanamo

Use roll on Free to handle Lefts that do not contain the Fail case
  scanamo/src/main/scala/org/scanamo/ops/ScanamoOpsA.scala
Due: scanamo

Update `refined` to use `DynamoValue`
  refined/src/main/scala/org/scanamo/refined/package.scala
Due: refined

Apply everywhere
  formats/src/main/scala/org/scanamo/DerivedDynamoFormat.scala
  formats/src/main/scala/org/scanamo/DynamoObject.scala
  formats/src/main/scala/org/scanamo/DynamoValue.scala
  scanamo/src/main/scala/org/scanamo/DynamoResultStream.scala
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoInterpreters.scala
  scanamo/src/main/scala/org/scanamo/package.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
  scanamo/src/main/scala/org/scanamo/query/DynamoKeyCondition.scala
  scanamo/src/main/scala/org/scanamo/query/QueryableKeyCondition.scala
  scanamo/src/main/scala/org/scanamo/query/UniqueKeyCondition.scala
  scanamo/src/main/scala/org/scanamo/request/ScanamoRequest.scala
  scanamo/src/main/scala/org/scanamo/update/UpdateExpression.scala
  scanamo/src/test/scala/org/scanamo/ScanamoFreeTest.scala
Due: formats, scanamo

Add empty array representation
  formats/src/main/scala/org/scanamo/DynamoArray.scala
Due: formats

Stuff
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
  formats/src/main/scala/org/scanamo/DynamoObject.scala
  formats/src/main/scala/org/scanamo/DynamoValue.scala
Due: formats

Fix refined test
  refined/src/test/scala/org/scanamo/refined/RefinedDynamoFormatSpec.scala
Due: refined

Empty arrays must produce empty arrays
  formats/src/main/scala/org/scanamo/DynamoArray.scala
Due: formats

Empty lists
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
Due: formats

Change API name
  scanamo/src/main/scala/org/scanamo/update/UpdateExpression.scala
Due: scanamo

Types
  formats/src/main/scala/org/scanamo/DynamoValue.scala
Due: formats

Properly handle append/prepend on inexistant attribute
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoInterpreters.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
  scanamo/src/main/scala/org/scanamo/request/ScanamoRequest.scala
  scanamo/src/main/scala/org/scanamo/update/UpdateExpression.scala
Due: scanamo

Use type alias for clarity
  formats/src/main/scala/org/scanamo/DerivedDynamoFormat.scala
Due: formats

Better
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
Due: scanamo

Update joda-time to 2.10.2
  build.sbt
Due: none

Simplify
  formats/src/main/scala/org/scanamo/DynamoObject.scala
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
  scanamo/src/main/scala/org/scanamo/query/QueryableKeyCondition.scala
  scanamo/src/main/scala/org/scanamo/query/UniqueKeyCondition.scala
Due: formats, scanamo

More APIzzz
  formats/src/main/scala/org/scanamo/DynamoArray.scala
  formats/src/main/scala/org/scanamo/DynamoObject.scala
  formats/src/main/scala/org/scanamo/DynamoValue.scala
Due: formats

Fix 2.11.12 compilation
  build.sbt
  formats/src/main/scala/org/scanamo/DynamoArray.scala
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
  formats/src/main/scala/org/scanamo/DynamoObject.scala
  formats/src/main/scala/org/scanamo/internal/package.scala
Due: formats
