Repository scanamo/scanamo: changes, and which Codecov flags are due for each by the changed paths.
All: alpakka, cats, formats, java-time, joda, refined, scalaz, scalaz-zio, scanamo

.codecov.yml:

comment: off
coverage:
  status:
    project:
      default: off
    scanamo:
        flags: scanamo
        target: auto
        threshold: 100
        base: auto
    formats:
        flags: formats
        target: auto
        threshold: 100
        base: auto
    joda:
        flags: joda
        target: auto
        threshold: 100
        base: auto
    java-time:
        flags: java-time
        target: auto
        threshold: 100
        base: auto
    alpakka:
        flags: alpakka
        target: auto
        threshold: 100
        base: auto
    cats:
        flags: cats
        target: auto
        threshold: 100
        base: auto
    scalaz:
        flags: scalaz
        target: auto
        threshold: 100
        base: auto
    scalaz-zio:
        flags: scalaz-zio
        target: auto
        threshold: 100
        base: auto
    refined:
        flags: refined
        target: auto
        threshold: 100
        base: auto
    patch:
      default: off
      scanamo:
        flags: scanamo
        threshold: 100
        base: auto
      formats:
        flags: formats
        threshold: 100
        base: auto
      joda:
        flags: joda
        threshold: 100
        base: auto
      java-time:
        flags: java-time
        threshold: 100
        base: auto
      alpakka:
        flags: alpakka
        threshold: 100
        base: auto
      cats:
        flags: cats
        threshold: 100
        base: auto
      scalaz:
        flags: scalaz
        threshold: 100
        base: auto
      scalaz-zio:
        flags: scalaz-zio
        threshold: 100
        base: auto
      refined:
        flags: refined
        threshold: 100
        base: auto
flags:
  alpakka:
    paths:
      - alpakka/
  cats:
    paths:
      - cats/
  formats:
    paths:
      - formats/
  java-time:
    paths:
      - java-time/
  joda:
    paths:
      - joda/
  refined:
    paths:
      - refined/
  scalaz:
    paths:
      - scalaz/
  scalaz-zio:
    paths:
      - scalaz-zio/
  scanamo:
    paths:
      - scanamo/

Run scalafmt in the `test` scope
  scanamo/src/test/scala/org/scanamo/generic/SemiAutoDerivationTest.scala
Due: scanamo

Scalafmt
  scanamo/src/test/scala/org/scanamo/generic/AutoDerivationTest.scala
  scanamo/src/test/scala/org/scanamo/generic/SemiAutoDerivationTest.scala
Due: scanamo

Add DynamoFormat#{xmap,coercedXmap,iso}
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
Due: scanamo

Make `xmap` use one argument list
  joda/src/main/scala/org/scanamo/joda/JodaFormats.scala
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
Due: joda, scanamo

Add return types again after rebase
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
Due: scanamo

Update sbt to 1.3.8
  project/build.properties
Due: none

Tiny doc fix post DynamoFormat changes
  docs/docs/dynamo-format.md
Due: none

Bloopery stuff
  project/metals.sbt
Due: none

Fix #589 - "Throughput exceeds the current capacity of your table or index" when using on-demand mode with Alpakka client
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
Due: alpakka

AWS SDK changes are too important
  .scala-steward.conf
Due: none

Update sbt-ci-release to 1.5.2
  project/plugins.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.718
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.719
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.720
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.721
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.722
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.723
  build.sbt
Due: none

Update scalafmt-core to 2.4.0
  .scalafmt.conf
Due: none

Update scalafmt-core to 2.4.1
  .scalafmt.conf
Due: none

Update scalafmt
  .scalafmt.conf
Due: none

fmt
  refined/src/main/scala/org/scanamo/refined/package.scala
  scanamo/src/main/scala/org/scanamo/DynamoArray.scala
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
  scanamo/src/main/scala/org/scanamo/DynamoObject.scala
  scanamo/src/main/scala/org/scanamo/ops/package.scala
  scanamo/src/test/scala/org/scanamo/DynamoValueTest.scala
  scanamo/src/test/scala/org/scanamo/update/UpdateExpressionTest.scala
Due: refined, scanamo

Update aws-java-sdk-dynamodb to 1.11.724
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.725
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.726
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.727
  build.sbt
Due: none

Update scalatest to 3.1.1
  build.sbt
Due: none

Update sbt-microsites to 1.1.2
  project/plugins.sbt
Due: none

Add scala 2.13 to README.
  README.md
Due: none

Update aws-java-sdk-dynamodb to 1.11.728
  build.sbt
Due: none

Update scalafmt-core to 2.4.2
  .scalafmt.conf
Due: none

Update aws-java-sdk-dynamodb to 1.11.729
  build.sbt
Due: none

Update magnolia to 0.12.7
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.730
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.731
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.732
  build.sbt
Due: none

Update aws-java-sdk-dynamodb to 1.11.734
  build.sbt
Due: none

Use method value for byteArrayFormat
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
Due: scanamo

Fix xmap syntax
  scanamo/src/test/scala/org/scanamo/generic/AutoDerivationTest.scala
Due: scanamo

Add AutoDerivationUnlocker implicit
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
  scanamo/src/main/scala/org/scanamo/generic/AutoDerivation.scala
Due: scanamo

Move genericFormat to bottom
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
Due: scanamo
