Repository scanamo/scanamo: changes, and which Codecov flags are due for each by the changed paths.
All: alpakka, cats, formats, java-time, joda, refined, scalaz, scalaz-zio, scanamo

.codecov.yml:

comment: off
coverage:
  status:
    project:
      default: off
    scanamo:
        flags: scanamo
        target: auto
        threshold: 100
        base: auto
    formats:
        flags: formats
        target: auto
        threshold: 100
        base: auto
    joda:
        flags: joda
        target: auto
        threshold: 100
        base: auto
    java-time:
        flags: java-time
        target: auto
        threshold: 100
        base: auto
    alpakka:
        flags: alpakka
        target: auto
        threshold: 100
        base: auto
    cats:
        flags: cats
        target: auto
        threshold: 100
        base: auto
    scalaz:
        flags: scalaz
        target: auto
        threshold: 100
        base: auto
    scalaz-zio:
        flags: scalaz-zio
        target: auto
        threshold: 100
        base: auto
    refined:
        flags: refined
        target: auto
        threshold: 100
        base: auto
    patch:
      default: off
      scanamo:
        flags: scanamo
        threshold: 100
        base: auto
      formats:
        flags: formats
        threshold: 100
        base: auto
      joda:
        flags: joda
        threshold: 100
        base: auto
      java-time:
        flags: java-time
        threshold: 100
        base: auto
      alpakka:
        flags: alpakka
        threshold: 100
        base: auto
      cats:
        flags: cats
        threshold: 100
        base: auto
      scalaz:
        flags: scalaz
        threshold: 100
        base: auto
      scalaz-zio:
        flags: scalaz-zio
        threshold: 100
        base: auto
      refined:
        flags: refined
        threshold: 100
        base: auto
flags:
  alpakka:
    paths:
      - alpakka/
  cats:
    paths:
      - cats/
  formats:
    paths:
      - formats/
  java-time:
    paths:
      - java-time/
  joda:
    paths:
      - joda/
  refined:
    paths:
      - refined/
  scalaz:
    paths:
      - scalaz/
  scalaz-zio:
    paths:
      - scalaz-zio/
  scanamo:
    paths:
      - scanamo/

remove sbt unidoc
  project/plugins.sbt
Due: none

remove sbt unidoc
  build.sbt
Due: none

Remove asynchronous for now
  docs/docs/asynchronous.md
Due: none

Update sbt to 1.3.6
  project/build.properties
Due: none

Cross build
  .travis.yml
  build.sbt
Due: none

Disable scoverage
  project/plugins.sbt
Due: none

fmt
  project/plugins.sbt
Due: none

dang
  .travis.yml
Due: none

daaang
  .travis.yml
Due: none

Disable kind-projector on Dotty
  build.sbt
Due: none

Fix batch #1
  build.sbt
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
  scanamo/src/main/scala/org/scanamo/DynamoReadError.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/main/scala/org/scanamo/package.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
  scanamo/src/main/scala/org/scanamo/query/DynamoKeyCondition.scala
  scanamo/src/main/scala/org/scanamo/query/QueryableKeyCondition.scala
  scanamo/src/main/scala/org/scanamo/query/UniqueKeyCondition.scala
Due: scanamo

fmt
  build.sbt
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
  scanamo/src/main/scala/org/scanamo/package.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
  scanamo/src/main/scala/org/scanamo/query/QueryableKeyCondition.scala
  scanamo/src/main/scala/org/scanamo/query/UniqueKeyCondition.scala
Due: scanamo

Update sbt-ci-release to 1.5.0
  project/plugins.sbt
Due: none

Update magnolia to 0.12.5
  build.sbt
Due: none

Update magnolia to 0.12.6
  build.sbt
Due: none

Update sbt-header to 5.4.0
  project/plugins.sbt
Due: none

conflict resolved
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/WithRetry.scala
Due: alpakka

PR comments resolved
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/WithRetry.scala
Due: alpakka

PR comments resolved
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
Due: alpakka

Update sbt-microsites to 1.1.0
  project/plugins.sbt
Due: none

updated delay in retry policy
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/WithRetry.scala
Due: alpakka

added delayOrElse fxn
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/WithRetry.scala
Due: alpakka

Only depend on scalatestplus-scalacheck in Test
  build.sbt
Due: none

format
  build.sbt
Due: none

Update sbt-explicit-dependencies to 0.2.12
  project/plugins.sbt
Due: none

Update sbt to 1.3.7
  project/build.properties
Due: none

Version-specific folders
  alpakka/src/test/scala/org/scanamo/RetryPolicySpec.scala
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
  build.sbt
  project/metals.sbt
  project/plugins.sbt
  refined/src/test/scala/org/scanamo/refined/RefinedDynamoFormatSpec.scala
  scanamo/src/main/scala-2.x/org/scanamo/LowPriorityFormats.scala
  scanamo/src/main/scala-2.x/org/scanamo/generic/AutoDerivation.scala
  scanamo/src/main/scala-2.x/org/scanamo/generic/Derivation.scala
  scanamo/src/main/scala-2.x/org/scanamo/generic/Exported.scala
  scanamo/src/main/scala-2.x/org/scanamo/generic/SemiautoDerivation.scala
  scanamo/src/main/scala-2.x/org/scanamo/generic/auto/package.scala
  scanamo/src/main/scala-2.x/org/scanamo/generic/package.scala
  scanamo/src/main/scala-2.x/org/scanamo/generic/semiauto/package.scala
  scanamo/src/main/scala-3/org/scanamo/LowPriorityFormats.scala
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
Due: alpakka, refined, scanamo

Update sbt-doctest to 0.9.6
  project/plugins.sbt
Due: none

Update refined to 0.9.12
  build.sbt
Due: none

Allow customization of retryable exceptions
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/WithRetry.scala
  alpakka/src/test/scala/org/scanamo/RetryPolicySpec.scala
Due: alpakka

Update sbt-scalafmt to 2.3.1
  project/plugins.sbt
Due: none

Change how SemiAuto- and AutoDerivation works
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
  scanamo/src/main/scala/org/scanamo/generic/AutoDerivation.scala
  scanamo/src/main/scala/org/scanamo/generic/Derivation.scala
  scanamo/src/main/scala/org/scanamo/generic/SemiautoDerivation.scala
  scanamo/src/main/scala/org/scanamo/generic/package.scala
  scanamo/src/test/scala/org/scanamo/generic/AutoDerivationTest.scala
  scanamo/src/test/scala/org/scanamo/generic/SemiAutoDerivationTest.scala
Due: scanamo

Add test for companion
  scanamo/src/test/scala/org/scanamo/generic/AutoDerivationTest.scala
Due: scanamo

Duplicate implicits into Derivation
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
  scanamo/src/main/scala/org/scanamo/generic/AutoDerivation.scala
  scanamo/src/test/scala/org/scanamo/generic/AutoDerivationTest.scala
Due: scanamo

Add SemiAutoDerivation test for companion
  scanamo/src/test/scala/org/scanamo/generic/SemiAutoDerivationTest.scala
Due: scanamo

Annotate return types
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
  scanamo/src/test/scala/org/scanamo/generic/SemiAutoDerivationTest.scala
Due: scanamo

Scalafmt all the things
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
  scanamo/src/main/scala/org/scanamo/generic/AutoDerivation.scala
  scanamo/src/main/scala/org/scanamo/generic/Derivation.scala
Due: scanamo

Scalafmt all the things
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
Due: scanamo

Rename Foo to Foobar to fix 2.11 test
  scanamo/src/test/scala/org/scanamo/generic/AutoDerivationTest.scala
  scanamo/src/test/scala/org/scanamo/generic/SemiAutoDerivationTest.scala
Due: scanamo
