Repository scanamo/scanamo: changes, and which Codecov flags are due for each by the changed paths.
All: alpakka, cats, formats, java-time, joda, refined, scalaz, scalaz-zio, scanamo

fmt
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
Due: formats

Update zio-interop-cats to 2.0.0.0-RC2
  build.sbt
Due: none

Update scalafmt to 2.0.1
  .scalafmt.conf
Due: none

Remove DynamoFormat[A].default
  alpakka/src/test/scala/org/scanamo/RetryPolicySpec.scala
  formats/src/main/scala/org/scanamo/DerivedDynamoFormat.scala
  formats/src/main/scala/org/scanamo/DynamoDefault.scala
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
  formats/src/main/scala/org/scanamo/DynamoValue.scala
  formats/src/test/scala/org/scanamo/DynamoFormatSpec.scala
  refined/src/main/scala/org/scanamo/refined/package.scala
  scanamo/src/test/scala/org/scanamo/update/UpdateExpressionTest.scala
Due: alpakka, formats, refined, scanamo

Remove simulacrum
  build.sbt
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
  scanamo/src/main/scala/org/scanamo/query/QueryableKeyCondition.scala
  scanamo/src/main/scala/org/scanamo/query/UniqueKeyCondition.scala
Due: formats, scanamo

Add Aux pattern for path-dependent type resolution
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
  scanamo/src/main/scala/org/scanamo/query/QueryableKeyCondition.scala
  scanamo/src/main/scala/org/scanamo/query/UniqueKeyCondition.scala
Due: scanamo

fmt
  build.sbt
Due: none

Time to say 2.11 goodbye
  scanamo/src/main/scala/org/scanamo/query/UniqueKeyCondition.scala
Due: scanamo

Add `putAndReturn`, use `Unit` as return type
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
  scanamo/src/main/scala/org/scanamo/Return.scala
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/main/scala/org/scanamo/ops/package.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
  scanamo/src/main/scala/org/scanamo/request/ScanamoRequest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoAsyncTest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
  zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
Due: alpakka, cats, scanamo

Simplify
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
Due: scanamo

Simplify
  scanamo/src/main/scala/org/scanamo/Return.scala
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
Due: scanamo

Update scalacheck-toolbox-datetime to 0.2.6
  build.sbt
Due: none

Update cats-core, cats-free to 2.0.0-RC2
  build.sbt
Due: none

Fix package name and version for scanamo.org index page
  docs/src/main/tut/index.md
Due: none

Update sbt-scalafmt to 2.0.4
  project/plugins.sbt
Due: none

Add scaladoc
  formats/src/main/scala/org/scanamo/DynamoValue.scala
Due: formats

fmt
  formats/src/main/scala/org/scanamo/DynamoValue.scala
Due: formats

Bump SBT
  project/build.properties
Due: none

Reintroduce lazy to avoid implicit diversion
  formats/src/main/scala/org/scanamo/DerivedDynamoFormat.scala
Due: formats

Try to remove jgit-repo
  project/plugins.sbt
Due: none

Remove lazy access
  formats/src/main/scala/org/scanamo/DerivedDynamoFormat.scala
Due: formats

keep scalafmt version
  project/plugins.sbt
Due: none

Update zio, zio-streams to 1.0.0-RC12
  build.sbt
Due: none

Update zio, zio-streams to 1.0.0-RC12-1
  build.sbt
Due: none

Update zio-interop-cats to 2.0.0.0-RC3
  build.sbt
Due: none

Update sbt to 1.3.0
  project/build.properties
Due: none

Update sbt-ci-release to 1.3.1
  project/plugins.sbt
Due: none

Update cats-core, cats-free to 2.0.0-RC3
  build.sbt
Due: none

Update cats-core, cats-free to 2.0.0
  build.sbt
Due: none

Update cats-effect to 2.0.0
  build.sbt
Due: none

Update fs2-core to 2.0.0
  build.sbt
Due: none

Update monix to 3.0.0
  build.sbt
Due: none

Allow specifying port on scanamo-testkit LocalDynamoDB client
  testkit/src/main/scala/org/scanamo/LocalDynamoDB.scala
Due: none

Update refined to 0.9.10
  build.sbt
Due: none

Update sbt-scalafmt to 2.0.5
  project/plugins.sbt
Due: none

Update sbt-ci-release to 1.3.2
  project/plugins.sbt
Due: none

Add support for 2.13
  .travis.yml
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  build.sbt
  cats/src/main/scala/org/scanamo/ops/CatsInterpreter.scala
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
  formats/src/main/scala/org/scanamo/DynamoObject.scala
  formats/src/test/scala/org/scanamo/DynamoValueTest.scala
  joda/src/main/scala/org/scanamo/joda/JodaFormats.scala
  joda/src/test/scala/org/scanamo/joda/TimeGenerators.scala
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoAsyncInterpreter.scala
  scanamo/src/main/scala/org/scanamo/package.scala
  scanamo/src/main/scala/org/scanamo/update/UpdateExpression.scala
  zio/src/main/scala/org/scanamo/ops/ZioInterpreter.scala
Due: alpakka, cats, formats, joda, scanamo

Disable scoverage
  project/plugins.sbt
Due: none

fmt
  project/plugins.sbt
Due: none

Path conditions:
  alpakka: any of: alpakka/
  cats: any of: cats/
  formats: any of: formats/
  java-time: any of: java-time/
  joda: any of: joda/
  refined: any of: refined/
  scalaz: any of: scalaz/
  scalaz-zio: any of: scalaz-zio/
  scanamo: any of: scanamo/
