Repository scanamo/scanamo: changes, and which Codecov flags are due for each by the changed paths.
All: alpakka, cats, formats, java-time, joda, refined, scalaz, scalaz-zio, scanamo

Basic docusaurus setup
  .gitignore
  website/README.md
  website/core/Footer.js
  website/package.json
  website/pages/en/help.js
  website/pages/en/index.js
  website/pages/en/users.js
  website/sidebars.json
  website/siteConfig.js
  website/static/css/custom.css
  website/static/css/scanamo.css
  website/static/img/favicon.ico
  website/static/img/oss_logo.png
  website/static/img/undraw_code_review.svg
  website/static/img/undraw_monitor.svg
  website/static/img/undraw_note_list.svg
  website/static/img/undraw_online.svg
  website/static/img/undraw_open_source.svg
  website/static/img/undraw_operating_system.svg
  website/static/img/undraw_react.svg
  website/static/img/undraw_tweetstorm.svg
  website/static/img/undraw_youtube_tutorial.svg
  website/yarn.lock
Due: none

No Ruby
  .ruby-version
Due: none

Update Travis build
  .travis.yml
Due: none

Update refined to 0.9.6
  build.sbt
Due: none

Update cats-effect to 1.3.1
  build.sbt
Due: none

Update akka-stream-alpakka-dynamodb to 1.0.2
  build.sbt
Due: none

Update refined to 0.9.7
  build.sbt
Due: none

Update simulacrum to 0.18.0
  build.sbt
Due: none

added retry jitter
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
Due: alpakka

added exec to return future
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
Due: alpakka

fixed formatting
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
Due: alpakka

fixed a silly mistake for duplicate import and method name
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
Due: alpakka

updated documentation
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
Due: alpakka

added number of default retries to documentation
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
Due: alpakka

Update cats-core, cats-free to 1.6.1
  build.sbt
Due: none

Update scalaz-zio, ... to 1.0-RC5
  build.sbt
Due: none

added query0 and scan0 for secondary index
  scanamo/src/main/scala/org/scanamo/DynamoResultStream.scala
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
Due: scanamo

update doctest version since it's causing exception on windows
  project/plugins.sbt
Due: none

Remove Symbol in the API
  formats/src/main/scala/org/scanamo/DerivedDynamoFormat.scala
  scanamo/src/main/scala/org/scanamo/package.scala
  scanamo/src/main/scala/org/scanamo/query/AttributeName.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
  scanamo/src/main/scala/org/scanamo/query/DynamoKeyCondition.scala
  scanamo/src/main/scala/org/scanamo/query/QueryableKeyCondition.scala
  scanamo/src/main/scala/org/scanamo/query/UniqueKeyCondition.scala
  scanamo/src/test/scala/org/scanamo/update/UpdateExpressionTest.scala
  testkit/src/main/scala/org/scanamo/LocalDynamoDB.scala
Due: formats, scanamo

Remove from docs
  README.md
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
  docs/src/main/tut/asynchronous.md
  docs/src/main/tut/batch-operations.md
  docs/src/main/tut/conditional-operations.md
  docs/src/main/tut/dynamo-format.md
  docs/src/main/tut/filters.md
  docs/src/main/tut/index.md
  docs/src/main/tut/operations.md
  docs/src/main/tut/using-indexes.md
  formats/src/test/scala/org/scanamo/DynamoFormatTest.scala
  scalaz-zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
  scalaz/src/test/scala/org/scanamo/ScanamoScalazSpec.scala
  scanamo/src/main/scala/org/scanamo/ScanamoSync.scala
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/test/scala/org/scanamo/ScanamoAsyncTest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
Due: alpakka, cats, formats, scalaz, scalaz-zio, scanamo

fmt
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
  scalaz-zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
  scalaz/src/test/scala/org/scanamo/ScanamoScalazSpec.scala
  scanamo/src/test/scala/org/scanamo/ScanamoAsyncTest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
Due: alpakka, cats, scalaz, scalaz-zio, scanamo

Use AttributeName in place of Symbol for syntactic sugar
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/main/scala/org/scanamo/package.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
  scanamo/src/main/scala/org/scanamo/query/DynamoKeyCondition.scala
  scanamo/src/main/scala/org/scanamo/query/QueryableKeyCondition.scala
  scanamo/src/main/scala/org/scanamo/query/UniqueKeyCondition.scala
  scanamo/src/main/scala/org/scanamo/update/UpdateExpression.scala
  scanamo/src/test/scala/org/scanamo/update/UpdateExpressionTest.scala
Due: scanamo

fmt
  scanamo/src/main/scala/org/scanamo/package.scala
  scanamo/src/main/scala/org/scanamo/query/UniqueKeyCondition.scala
Due: scanamo

Add full attribute name coverage
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/main/scala/org/scanamo/query/AttributeName.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
Due: scanamo

Update tut-plugin to 0.6.12
  project/plugins.sbt
Due: none

Update simulacrum to 0.19.0
  build.sbt
Due: none

Update refined to 0.9.8
  build.sbt
Due: none

Update scalatest to 3.0.8
  build.sbt
Due: none

Bump cats versin
  build.sbt
Due: none

Embed other effects into the algebra
  scanamo/src/main/scala/org/scanamo/ops/package.scala
Due: scanamo

Add APIs
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
Due: scanamo

Write streaming version
  scanamo/src/main/scala/org/scanamo/DynamoResultStream.scala
Due: scanamo

Add interpreters
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  cats/src/main/scala/org/scanamo/ScanamoCats.scala
  scalaz-zio/src/main/scala/org/scanamo/ScanamoZio.scala
  scalaz/src/main/scala/org/scanamo/ScanamoScalaz.scala
  scanamo/src/main/scala/org/scanamo/ScanamoAsync.scala
  scanamo/src/main/scala/org/scanamo/ScanamoSync.scala
Due: alpakka, cats, scalaz, scalaz-zio, scanamo

Add basic test
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
Due: scanamo

Fix
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  cats/src/main/scala/org/scanamo/ScanamoCats.scala
  scalaz-zio/src/main/scala/org/scanamo/ScanamoZio.scala
  scalaz/src/main/scala/org/scanamo/ScanamoScalaz.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
Due: alpakka, cats, scalaz, scalaz-zio, scanamo

fmt
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
Due: scanamo

woops
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
Due: scanamo

Double woops
  scanamo/src/main/scala/org/scanamo/Table.scala
Due: scanamo

Merge upstream
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
Due: scanamo

Add instances for zio streams and scala "future streams"
  build.sbt
  scalaz-zio/src/main/scala/org/scanamo/ScanamoZio.scala
  scalaz-zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
  scanamo/src/main/scala/org/scanamo/ScanamoSync.scala
  scanamo/src/test/scala/org/scanamo/ScanamoAsyncTest.scala
Due: scalaz-zio, scanamo

Path conditions:
  alpakka: any of: alpakka/
  cats: any of: cats/
  formats: any of: formats/
  java-time: any of: java-time/
  joda: any of: joda/
  refined: any of: refined/
  scalaz: any of: scalaz/
  scalaz-zio: any of: scalaz-zio/
  scanamo: any of: scanamo/
