Repository scanamo/scanamo: changes, and which Codecov flags are due for each by the changed paths.
All: alpakka, cats, formats, java-time, joda, refined, scalaz, scalaz-zio, scanamo

.codecov.yml:

comment: off
coverage:
  status:
    project:
      default: off
    scanamo:
        flags: scanamo
        target: auto
        threshold: 100
        base: auto
    formats:
        flags: formats
        target: auto
        threshold: 100
        base: auto
    joda:
        flags: joda
        target: auto
        threshold: 100
        base: auto
    java-time:
        flags: java-time
        target: auto
        threshold: 100
        base: auto
    alpakka:
        flags: alpakka
        target: auto
        threshold: 100
        base: auto
    cats:
        flags: cats
        target: auto
        threshold: 100
        base: auto
    scalaz:
        flags: scalaz
        target: auto
        threshold: 100
        base: auto
    scalaz-zio:
        flags: scalaz-zio
        target: auto
        threshold: 100
        base: auto
    refined:
        flags: refined
        target: auto
        threshold: 100
        base: auto
    patch:
      default: off
      scanamo:
        flags: scanamo
        threshold: 100
        base: auto
      formats:
        flags: formats
        threshold: 100
        base: auto
      joda:
        flags: joda
        threshold: 100
        base: auto
      java-time:
        flags: java-time
        threshold: 100
        base: auto
      alpakka:
        flags: alpakka
        threshold: 100
        base: auto
      cats:
        flags: cats
        threshold: 100
        base: auto
      scalaz:
        flags: scalaz
        threshold: 100
        base: auto
      scalaz-zio:
        flags: scalaz-zio
        threshold: 100
        base: auto
      refined:
        flags: refined
        threshold: 100
        base: auto
flags:
  alpakka:
    paths:
      - alpakka/
  cats:
    paths:
      - cats/
  formats:
    paths:
      - formats/
  java-time:
    paths:
      - java-time/
  joda:
    paths:
      - joda/
  refined:
    paths:
      - refined/
  scalaz:
    paths:
      - scalaz/
  scalaz-zio:
    paths:
      - scalaz-zio/
  scanamo:
    paths:
      - scanamo/

Change `DynamoFormat.iso` signature
  refined/src/test/scala/org/scanamo/refined/RefinedDynamoFormatSpec.scala
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
Due: refined, scanamo

Don't forget Exported
  scanamo/src/main/scala/org/scanamo/Exported.scala
Due: scanamo

Fix imports
  README.md
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
  docs/src/main/tut/asynchronous.md
  docs/src/main/tut/batch-operations.md
  docs/src/main/tut/conditional-operations.md
  docs/src/main/tut/dynamo-format.md
  docs/src/main/tut/filters.md
  docs/src/main/tut/index.md
  docs/src/main/tut/operations.md
  docs/src/main/tut/using-indexes.md
  scanamo/src/main/scala/org/scanamo/ScanamoSync.scala
  scanamo/src/test/scala/org/scanamo/ScanamoAsyncTest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
Due: alpakka, cats, scanamo

Update joda-time to 2.10.5
  build.sbt
Due: none

Add typeclass for objects
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
Due: scanamo

Fix array decoding
  scanamo/src/main/scala/org/scanamo/DynamoArray.scala
Due: scanamo

Use `DynNull`
  scanamo/src/main/scala/org/scanamo/DynamoObject.scala
  scanamo/src/main/scala/org/scanamo/query/UniqueKeyCondition.scala
Due: scanamo

Define test instances
  zio/src/test/scala/org/scanamo/fixtures/package.scala
Due: none

fmt
  zio/src/test/scala/org/scanamo/fixtures/fixtures.scala
  zio/src/test/scala/org/scanamo/fixtures/package.scala
Due: none

Do alpakka tests
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
  alpakka/src/test/scala/org/scanamo/fixtures/fixtures.scala
  alpakka/src/test/scala/org/scanamo/fixtures/package.scala
Due: alpakka

Move generic into core
  build.sbt
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
  cats/src/test/scala/org/scanamo/fixtures/fixtures.scala
  cats/src/test/scala/org/scanamo/fixtures/package.scala
  scanamo/src/main/resources/deriving.conf
  scanamo/src/main/scala/org/scanamo/DynamoArray.scala
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
  scanamo/src/main/scala/org/scanamo/DynamoObject.scala
  scanamo/src/main/scala/org/scanamo/generic/AutoDerivation.scala
  scanamo/src/main/scala/org/scanamo/generic/Derivation.scala
  scanamo/src/main/scala/org/scanamo/generic/SemiautoDynamoFormat.scala
  scanamo/src/main/scala/org/scanamo/generic/auto/package.scala
  scanamo/src/main/scala/org/scanamo/generic/package.scala
  scanamo/src/main/scala/org/scanamo/generic/semiauto/package.scala
  scanamo/src/main/scala/org/scanamo/query/UniqueKeyCondition.scala
  scanamo/src/test/scala/org/scanamo/DynamoFormatTest.scala
  scanamo/src/test/scala/org/scanamo/DynamoValueTest.scala
  scanamo/src/test/scala/org/scanamo/EnumDynamoFormatTest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoAsyncTest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
  scanamo/src/test/scala/org/scanamo/TimeGenerators.scala
  scanamo/src/test/scala/org/scanamo/fixtures/fixtures.scala
  scanamo/src/test/scala/org/scanamo/fixtures/package.scala
  scanamo/src/test/scala/org/scanamo/generic/SemiAutoDerivationTest.scala
Due: cats, scanamo

Use auto derivation
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
  alpakka/src/test/scala/org/scanamo/fixtures/package.scala
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
  cats/src/test/scala/org/scanamo/fixtures/package.scala
  scanamo/src/test/scala/org/scanamo/ScanamoAsyncTest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
  scanamo/src/test/scala/org/scanamo/fixtures/package.scala
  zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
  zio/src/test/scala/org/scanamo/fixtures/package.scala
Due: alpakka, cats, scanamo

Use v0.10 😔
  build.sbt
Due: none

Fix compilation in 2.11 and 2.13
  build.sbt
  scanamo/src/main/scala/org/scanamo/DynamoObject.scala
Due: scanamo

fmt
  build.sbt
Due: none

Fix compil
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
Due: scanamo

Update zio, zio-streams to 1.0.0-RC16
  build.sbt
Due: none

Update zio-interop-cats to 2.0.0.0-RC7
  build.sbt
Due: none

Update scalafmt-core to 2.2.2
  .scalafmt.conf
Due: none

Move fixtures into the testkit project
  cats/src/test/scala/org/scanamo/fixtures/fixtures.scala
  scanamo/src/test/scala/org/scanamo/fixtures/fixtures.scala
  testkit/src/test/scala/org/scanamo/fixtures/fixtures.scala
  zio/src/test/scala/org/scanamo/fixtures/fixtures.scala
Due: cats, scanamo

Minor cleanup
  formats/src/test/scala/org/scanamo/DynamoFormatTests.scala
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
  scanamo/src/main/scala/org/scanamo/generic/AutoDerivation.scala
  scanamo/src/main/scala/org/scanamo/generic/Exported.scala
  scanamo/src/main/scala/org/scanamo/generic/SemiautoDynamoFormat.scala
  scanamo/src/main/scala/org/scanamo/generic/package.scala
  scanamo/src/main/scala/org/scanamo/package.scala
Due: formats, scanamo

Use ObjectFormat in derivation
  scanamo/src/main/scala/org/scanamo/generic/Derivation.scala
Due: scanamo

scaladoc
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
  scanamo/src/main/scala/org/scanamo/DynamoObject.scala
Due: scanamo

woops
  formats/src/test/scala/org/scanamo/DynamoFormatTests.scala
Due: formats

Update scalafmt to v2.2.2
  .scalafmt.conf
  alpakka/src/main/scala/org/scanamo/ops/AlpakkaInterpreter.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/WithRetry.scala
  alpakka/src/test/scala/org/scanamo/RetryPolicySpec.scala
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
  cats/src/main/scala/org/scanamo/ScanamoCats.scala
  cats/src/main/scala/org/scanamo/ops/CatsInterpreter.scala
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
  formats/src/main/scala/org/scanamo/Derivation/SemiAutoDerivation.scala
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
  formats/src/test/scala/org/scanamo/Derivation/SemiAutoDerivationTest.scala
  formats/src/test/scala/org/scanamo/DynamoFormatTest.scala
  formats/src/test/scala/org/scanamo/DynamoValueTest.scala
  formats/src/test/scala/org/scanamo/EnumDynamoFormatTest.scala
  joda/src/main/scala/org/scanamo/joda/JodaFormats.scala
  joda/src/test/scala/org/scanamo/joda/TimeGenerators.scala
  refined/src/main/scala/org/scanamo/refined/package.scala
  refined/src/test/scala/org/scanamo/refined/RefinedDynamoFormatSpec.scala
  scanamo/src/main/scala/org/scanamo/DynamoResultStream.scala
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/ScanamoSync.scala
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoAsyncInterpreter.scala
  scanamo/src/main/scala/org/scanamo/ops/ScanamoOpsA.scala
  scanamo/src/main/scala/org/scanamo/ops/package.scala
  scanamo/src/main/scala/org/scanamo/package.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
  scanamo/src/test/scala/org/scanamo/update/UpdateExpressionTest.scala
  zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
Due: alpakka, cats, formats, joda, refined, scanamo

Create CODEOWNERS
  CODEOWNERS
Due: none

fmt
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
Due: scanamo

Update fs2-core to 2.1.0
  build.sbt
Due: none

Use provided instances
  zio/src/main/scala/org/scanamo/ScanamoZio.scala
Due: none

fmt
  scanamo/src/main/scala/org/scanamo/DynamoFormat.scala
  scanamo/src/main/scala/org/scanamo/generic/AutoDerivation.scala
  scanamo/src/main/scala/org/scanamo/generic/Derivation.scala
  scanamo/src/main/scala/org/scanamo/generic/SemiautoDynamoFormat.scala
  scanamo/src/test/scala/org/scanamo/generic/SemiAutoDerivationTest.scala
Due: scanamo

Rename file
  scanamo/src/main/scala/org/scanamo/generic/SemiautoDerivation.scala
Due: scanamo

Fix deriving.conf
  scanamo/src/main/resources/deriving.conf
Due: scanamo

Another fix
  scanamo/src/main/resources/deriving.conf
Due: scanamo

Add misssing import
  zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
Due: none

Update monix to 3.1.0
  build.sbt
Due: none

Fix encoding of ADTs
  scanamo/src/main/scala/org/scanamo/generic/Derivation.scala
  scanamo/src/test/scala/org/scanamo/EnumDynamoFormatTest.scala
Due: scanamo

Add scaladoc, handle defaults
  scanamo/src/main/scala/org/scanamo/generic/Derivation.scala
Due: scanamo

Add test
  scanamo/src/test/scala/org/scanamo/EnumDynamoFormatTest.scala
Due: scanamo

Update zio, zio-streams to 1.0.0-RC17
  build.sbt
Due: none

Update zio-interop-cats to 2.0.0.0-RC8
  build.sbt
Due: none
