Repository scanamo/scanamo: changes, and which Codecov flags are due for each by the changed paths.
All: alpakka, cats, formats, java-time, joda, refined, scalaz, scalaz-zio, scanamo

.codecov.yml:

comment: off
coverage:
  status:
    project:
      default: off
    scanamo:
        flags: scanamo
        target: auto
        threshold: 100
        base: auto
    formats:
        flags: formats
        target: auto
        threshold: 100
        base: auto
    joda:
        flags: joda
        target: auto
        threshold: 100
        base: auto
    java-time:
        flags: java-time
        target: auto
        threshold: 100
        base: auto
    alpakka:
        flags: alpakka
        target: auto
        threshold: 100
        base: auto
    cats:
        flags: cats
        target: auto
        threshold: 100
        base: auto
    scalaz:
        flags: scalaz
        target: auto
        threshold: 100
        base: auto
    scalaz-zio:
        flags: scalaz-zio
        target: auto
        threshold: 100
        base: auto
    refined:
        flags: refined
        target: auto
        threshold: 100
        base: auto
    patch:
      default: off
      scanamo:
        flags: scanamo
        threshold: 100
        base: auto
      formats:
        flags: formats
        threshold: 100
        base: auto
      joda:
        flags: joda
        threshold: 100
        base: auto
      java-time:
        flags: java-time
        threshold: 100
        base: auto
      alpakka:
        flags: alpakka
        threshold: 100
        base: auto
      cats:
        flags: cats
        threshold: 100
        base: auto
      scalaz:
        flags: scalaz
        threshold: 100
        base: auto
      scalaz-zio:
        flags: scalaz-zio
        threshold: 100
        base: auto
      refined:
        flags: refined
        threshold: 100
        base: auto
flags:
  alpakka:
    paths:
      - alpakka/
  cats:
    paths:
      - cats/
  formats:
    paths:
      - formats/
  java-time:
    paths:
      - java-time/
  joda:
    paths:
      - joda/
  refined:
    paths:
      - refined/
  scalaz:
    paths:
      - scalaz/
  scalaz-zio:
    paths:
      - scalaz-zio/
  scanamo:
    paths:
      - scanamo/

Scaladoc
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
Due: scanamo

Do not encode empty maps as null attribute values
  formats/src/main/scala/org/scanamo/DynamoObject.scala
Due: formats

Add ability to override default in `*xmap`
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
Due: formats

Reorder methods
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
Due: formats

Default is None for time formats
  java-time/src/main/scala/org/scanamo/time/JavaTimeFormats.scala
  joda/src/main/scala/org/scanamo/joda/JodaFormats.scala
Due: java-time, joda

fmt
  scalaz-zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/test/scala/org/scanamo/ScanamoAsyncTest.scala
Due: scalaz-zio, scanamo

Add property test for maps
  formats/src/test/scala/org/scanamo/DynamoFormatTest.scala
Due: formats

fmt
  formats/src/test/scala/org/scanamo/DynamoFormatTest.scala
Due: formats

Avoid successful read to override new default
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
  java-time/src/main/scala/org/scanamo/time/JavaTimeFormats.scala
  joda/src/main/scala/org/scanamo/joda/JodaFormats.scala
Due: formats, java-time, joda

fmt
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
Due: formats

Apply to `iso` too
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
Due: formats

No override by default
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
Due: formats

Add some tests
  formats/src/test/scala/org/scanamo/DynamoFormatSpec.scala
Due: formats

fmt
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
  formats/src/test/scala/org/scanamo/DynamoFormatSpec.scala
Due: formats

Add DynamoDefault
  formats/src/main/scala/org/scanamo/DynamoDefault.scala
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
  formats/src/test/scala/org/scanamo/DynamoFormatSpec.scala
Due: formats

Remove useless params in time formats
  java-time/src/main/scala/org/scanamo/time/JavaTimeFormats.scala
  joda/src/main/scala/org/scanamo/joda/JodaFormats.scala
Due: java-time, joda

Upgrade zio, fix 2.11 compilation
  build.sbt
  scalaz-zio/src/main/scala/org/scanamo/ScanamoZio.scala
  scalaz-zio/src/main/scala/org/scanamo/ops/ZioInterpreter.scala
Due: scalaz-zio

Fix tests
  scalaz-zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
Due: scalaz-zio

Sort out imports
  scalaz-zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
Due: scalaz-zio

Provide cats-effect ecosystem stream conversions
  build.sbt
  cats/src/main/scala/org/scanamo/ScanamoCats.scala
  scalaz-zio/src/main/scala/org/scanamo/ScanamoZio.scala
  scanamo/src/main/scala/org/scanamo/ScanamoSync.scala
Due: cats, scalaz-zio, scanamo

Introduce `Key` replace `UniqueKey` and `UniqueKeys`
  README.md
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
  docs/src/main/tut/asynchronous.md
  docs/src/main/tut/batch-operations.md
  docs/src/main/tut/conditional-operations.md
  docs/src/main/tut/dynamo-format.md
  docs/src/main/tut/filters.md
  docs/src/main/tut/index.md
  docs/src/main/tut/operations.md
  docs/src/main/tut/using-indexes.md
  scalaz-zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
  scalaz/src/test/scala/org/scanamo/ScanamoScalazSpec.scala
  scanamo/src/main/scala/org/scanamo/Key.scala
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/ScanamoSync.scala
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/main/scala/org/scanamo/package.scala
  scanamo/src/main/scala/org/scanamo/query/AttributeName.scala
  scanamo/src/main/scala/org/scanamo/query/ConditionExpression.scala
  scanamo/src/test/scala/org/scanamo/ScanamoAsyncTest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
Due: alpakka, cats, scalaz, scalaz-zio, scanamo

Typo
  scalaz-zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
Due: scalaz-zio

Naming
  scalaz-zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/test/scala/org/scanamo/ScanamoAsyncTest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
Due: scalaz-zio, scanamo

Add tests for monix and fs2 streams
  build.sbt
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
Due: cats

Change constraint to avoid Alternative
  cats/src/main/scala/org/scanamo/ScanamoCats.scala
  scalaz-zio/src/main/scala/org/scanamo/ScanamoZio.scala
  scanamo/src/main/scala/org/scanamo/DynamoResultStream.scala
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/test/scala/org/scanamo/ScanamoAsyncTest.scala
Due: cats, scalaz-zio, scanamo

Update sbt-microsites to 0.7.27
  project/plugins.sbt
Due: none

Update sbt-doctest to 0.9.5
  project/plugins.sbt
Due: none

Update sbt-scalafmt to 2.0.1
  project/plugins.sbt
Due: none

Update sbt-scoverage to 1.6.0
  project/plugins.sbt
Due: none

Address feedback
  scanamo/src/main/scala/org/scanamo/DynamoResultStream.scala
Due: scanamo

Update fs2-core to 1.0.5
  build.sbt
Due: none

Update cats-core, cats-free to 2.0.0-M4
  build.sbt
Due: none

Update zio-interop-cats, zio-streams to 1.0.0-RC8-6
  build.sbt
Due: none

Add IsSimpleKey, provide Table constructors
  README.md
  alpakka/src/test/scala/org/scanamo/ScanamoAlpakkaSpec.scala
  cats/src/test/scala/org/scanamo/ScanamoCatsSpec.scala
  docs/src/main/tut/asynchronous.md
  docs/src/main/tut/batch-operations.md
  docs/src/main/tut/conditional-operations.md
  docs/src/main/tut/dynamo-format.md
  docs/src/main/tut/filters.md
  docs/src/main/tut/index.md
  docs/src/main/tut/operations.md
  docs/src/main/tut/using-indexes.md
  scalaz-zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
  scalaz/src/test/scala/org/scanamo/ScanamoScalazSpec.scala
  scanamo/src/main/scala/org/scanamo/IsSimpleKey.scala
  scanamo/src/main/scala/org/scanamo/Key.scala
  scanamo/src/main/scala/org/scanamo/ScanamoFree.scala
  scanamo/src/main/scala/org/scanamo/ScanamoSync.scala
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/main/scala/org/scanamo/package.scala
  scanamo/src/test/scala/org/scanamo/ScanamoAsyncTest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
Due: alpakka, cats, scalaz, scalaz-zio, scanamo

Rename and apply to secondary indexes
  scanamo/src/main/scala/org/scanamo/IsSimpleKey.scala
  scanamo/src/main/scala/org/scanamo/Key.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/main/scala/org/scanamo/package.scala
Due: scanamo

Update zio, zio-interop-cats, zio-streams to 1.0.0-RC8-8
  build.sbt
Due: none

Update zio, zio-interop-cats, zio-streams to 1.0.0-RC8-10
  build.sbt
Due: none

Update zio, zio-interop-cats, zio-streams to 1.0.0-RC8-12
  build.sbt
Due: none

Better index safety, add globalIndex
  build.sbt
  docs/src/main/tut/dynamo-format.md
  scanamo/src/main/scala/org/scanamo/Key.scala
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
  scanamo/src/main/scala/org/scanamo/Table.scala
  scanamo/src/main/scala/org/scanamo/package.scala
  scanamo/src/test/scala/org/scanamo/ScanamoAsyncTest.scala
  scanamo/src/test/scala/org/scanamo/ScanamoTest.scala
Due: scanamo

Update zio-interop-cats to 1.3.1.0-RC2
  build.sbt
Due: none
