Repository scanamo/scanamo: changes, and which Codecov flags are due for each by the changed paths.
All: alpakka, cats, formats, java-time, joda, refined, scalaz, scalaz-zio, scanamo

.codecov.yml:

comment: off
coverage:
  status:
    project:
      default: off
    scanamo:
        flags: scanamo
        target: auto
        threshold: 100
        base: auto
    formats:
        flags: formats
        target: auto
        threshold: 100
        base: auto
    joda:
        flags: joda
        target: auto
        threshold: 100
        base: auto
    java-time:
        flags: java-time
        target: auto
        threshold: 100
        base: auto
    alpakka:
        flags: alpakka
        target: auto
        threshold: 100
        base: auto
    cats:
        flags: cats
        target: auto
        threshold: 100
        base: auto
    scalaz:
        flags: scalaz
        target: auto
        threshold: 100
        base: auto
    scalaz-zio:
        flags: scalaz-zio
        target: auto
        threshold: 100
        base: auto
    refined:
        flags: refined
        target: auto
        threshold: 100
        base: auto
    patch:
      default: off
      scanamo:
        flags: scanamo
        threshold: 100
        base: auto
      formats:
        flags: formats
        threshold: 100
        base: auto
      joda:
        flags: joda
        threshold: 100
        base: auto
      java-time:
        flags: java-time
        threshold: 100
        base: auto
      alpakka:
        flags: alpakka
        threshold: 100
        base: auto
      cats:
        flags: cats
        threshold: 100
        base: auto
      scalaz:
        flags: scalaz
        threshold: 100
        base: auto
      scalaz-zio:
        flags: scalaz-zio
        threshold: 100
        base: auto
      refined:
        flags: refined
        threshold: 100
        base: auto
flags:
  alpakka:
    paths:
      - alpakka/
  cats:
    paths:
      - cats/
  formats:
    paths:
      - formats/
  java-time:
    paths:
      - java-time/
  joda:
    paths:
      - joda/
  refined:
    paths:
      - refined/
  scalaz:
    paths:
      - scalaz/
  scalaz-zio:
    paths:
      - scalaz-zio/
  scanamo:
    paths:
      - scanamo/

Update zio, zio-streams to 1.0.0-RC9
  build.sbt
Due: none

Fix RetryPolicy
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
Due: alpakka

Fix delay handling
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/WithRetry.scala
Due: alpakka

Add tests
  alpakka/src/test/scala/org/scanamo/RetryPolicySpec.scala
Due: alpakka

Update scalaz-core to 7.2.28
  build.sbt
Due: none

Add combinators, use Duration
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/WithRetry.scala
  alpakka/src/test/scala/org/scanamo/RetryPolicySpec.scala
Due: alpakka

Expression
  alpakka/src/main/scala/org/scanamo/ops/retrypolicy/RetryPolicy.scala
  alpakka/src/test/scala/org/scanamo/RetryPolicySpec.scala
Due: alpakka

Fix 2.11 compil
  alpakka/src/test/scala/org/scanamo/RetryPolicySpec.scala
Due: alpakka

Scaladocfix
  alpakka/src/main/scala/org/scanamo/ScanamoAlpakka.scala
Due: alpakka

Update sbt-scalafmt to 2.0.2
  project/plugins.sbt
Due: none

Update badge URIs to reflect new org
  README.md
Due: none

Update tag version
  README.md
Due: none

Update akka-stream-alpakka-dynamodb to 1.1.0
  build.sbt
Due: none

Update joda-time to 2.10.3
  build.sbt
Due: none

Update zio, zio-streams to 1.0.0-RC9-4
  build.sbt
Due: none

Update zio-interop-cats to 1.3.1.0-RC3
  build.sbt
Due: none

Update sbt to 1.2.8
  project/build.properties
Due: none

Fix NULLs when writing empty lists
  formats/src/main/scala/org/scanamo/DynamoArray.scala
  formats/src/test/scala/org/scanamo/DynamoFormatTest.scala
Due: formats

Create static empty list attribute in DynamoArray
  formats/src/main/scala/org/scanamo/DynamoArray.scala
Due: formats

Update zio-streams to 1.0.0-RC10
  build.sbt
Due: none

Remove scalaz interpreter
  build.sbt
  scalaz/src/main/scala/org/scanamo/ScanamoScalaz.scala
  scalaz/src/main/scala/org/scanamo/ops/ScalazInterpreter.scala
  scalaz/src/test/scala/org/scanamo/ScanamoScalazSpec.scala
Due: scalaz

Switch kind-projector organization to typelevel
  build.sbt
Due: none

Remove shimsVersion
  build.sbt
Due: none

Update zio, zio-streams to 1.0.0-RC10-1
  build.sbt
Due: none

Add generic set to Dynamo Formats
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
Due: formats

Update refined to 0.9.9
  build.sbt
Due: none

Update scalafmt to 2.0.0
  .scalafmt.conf
Due: none

Update cats-effect to 1.4.0
  build.sbt
Due: none

Update zio, zio-streams to 1.0.0-RC11
  build.sbt
Due: none

Update zio, zio-streams to 1.0.0-RC11-1
  build.sbt
Due: none

Update cats-core, cats-free to 2.0.0-RC1
  build.sbt
Due: none

Update sbt-scalafmt to 2.0.3
  project/plugins.sbt
Due: none

Update akka-stream-alpakka-dynamodb to 1.1.1
  build.sbt
Due: none

improved the order of the already defined method
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
Due: scanamo

formatted SecondaryIndex
  scanamo/src/main/scala/org/scanamo/SecondaryIndex.scala
Due: scanamo

Fix scalafmt
  .scalafmt.conf
Due: none

Update zio, rename project
  build.sbt
  zio/src/main/scala/org/scanamo/ScanamoZio.scala
  zio/src/main/scala/org/scanamo/ops/ZioInterpreter.scala
  zio/src/test/scala/org/scanamo/ScanamoZioSpec.scala
Due: none

Move java-time project into core
  build.sbt
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
  formats/src/test/scala/org/scanamo/TimeGenerators.scala
  java-time/src/main/scala/org/scanamo/time/JavaTimeFormats.scala
Due: formats, java-time

Fix imports
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
Due: formats

Remove useless imports
  formats/src/main/scala/org/scanamo/DynamoFormat.scala
Due: formats
